/* Phoenix Rising Collection Responsive CSS */
@media screen and (min-width: 1200px) and (max-width:  1439px) {
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading h1 {
        font-size: 45px;
    }
    .slider .image-wrapper .caro-container .text-cont {
        top: 53%;
    }
    .choose-oil .title h1,
    .creation-1 .title h1,
    .product-creation .title h1,
    .creation-3 .title h1 {
        font-size: 43px;
        line-height: 43px;
    }
    .customization .title h1::before,
    .creation-1 .title h1::before,
    .product-creation .title h1::before,
    .creation-3 .title h1::before{
        width: 200px;
        right: 75%;
    }
    .customization .title h1::after,
    .creation-1 .title h1::after,
    .product-creation .title h1::after,
    .creation-3 .title h1::after{
        width: 200px;
        left: 75%;
    }
    .customization-column .description h1 {
        line-height: 1;
        font-size: 42px;
    }
    .customization-column .description p {
        font-size: 13px;
    }
    .customization-column .description .inner-description {
        margin: 20px 0 5px;
    }
    .customization-column .description .inner-description h3 {
        font-size: 22px;
    }
    .padTop {
        padding-top: 50px;
    }
    .customization-column .hair-img img {
        width: 370px;
    }
    .spacer60 {
        padding: 40px;
    }
    .choose-oil-column .choose-oil-content p:last-child {
        font-size: 18px;
        line-height: 1.5;
    }
    .choose-oil-column .customize-btn a {
        font-size: 18px;
        line-height: 45px;
        padding: 0 30px;
    }
    /* **************************** */
    /* **************************** */
    /* *******Build Your Own******* */
    /* **************************** */
    /* **************************** */
    .creation-1 .creation-1-column .choose-oil .quiz-text h1,
    .product-creation .product-creation-column .choose-flowers .quiz-text h1,
    .product-creation .product-creation-column .choose-flowers .quiz-text h1,
    .creation-3-column .last-stage .quiz-text h1 {
        font-size: 37px;
    }
    .creation-1 {
        padding: 75px 0;
    }
    .creation-3-column.customize-oill .next-button {
        padding-top: 15px;
    }
    /* *********************** */
    /* *********************** */
    /* *******Cart Page******* */
    /* *********************** */
    /* *********************** */
    .shopping-cart {
        padding: 10vh 0;
    }
    /* *********************** */
    /* *********************** */
    /* *******Shop Page******* */
    /* *********************** */
    /* *********************** */
    .shop-page {
        padding: 80px 0 45px;
    }
    /* ************************ */
    /* ************************ */
    /* *******About Page******* */
    /* ************************ */
    /* ************************ */
    .heading {
        font-size: 48px;
        padding-bottom: 25px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading h1 {
        font-size: 48px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading img {
        display: none;
    }
    .blog-banner-column .inner-column  {
        width: 100%;
        margin-left: 95px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li a {
        font-size: 18px;
        color: #fff;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a::before {
        top: 8px;
    }
    .contact-form {
        padding: 80px 0;
    }
}
@media screen and (min-width: 992px) and (max-width:  1199px) {
    .slider {
        margin-top: -104px;
    }
    .main-header .navigation-column .nav li a img {
        width: 80px;
    }
    .main-header .navigation-column .nav li a {
        font-size: 13.5px;
        padding: .5rem 20px;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading h1 {
        font-size: 35px;
    }
    .slider .image-wrapper .caro-container .text-cont {
        top: 55%;
        left: 60px;
    }
    .customization {
        padding: 60px 0 85px;
    }
    .customization .title h1,
    .choose-oil .title h1,
    .creation-1 .title h1,
    .product-creation .title h1,
    .creation-3 .title h1 {
        font-size: 40px;
        line-height: 40px;
    }
    .customization .title h1::before,
    .creation-1 .title h1::before,
    .product-creation .title h1::before,
    .creation-3 .title h1::before{
        width: 150px;
        right: 77.5%;
    }
    .product-creation .title h1::after,
    .creation-3 .title h1::after,
    .customization .title h1::after,
    .creation-1 .title h1::after {
        width: 150px;
        left: 77.5%;
    }
    .customization-column .description h1 {
        line-height: 1;
        font-size: 38px;
    }
    .customization-column .description p {
        font-size: 13px;
    }
    .customization-column .description .inner-description {
        margin: 15px 0 5px;
    }
    .customization-column .description .inner-description h3 {
        font-size: 21px;
    }
    .padTop {
        padding-top: 50px;
    }
    .customization-column .hair-img img {
        width: 325px;
    }
    .spacer60 {
        padding: 40px;
    }
    .product-review,
    .product-review .product-review-column {
        height: 315px;
    }
    .product-review .product-review-column .review-container .five-star i {
        font-size: 13px;
    }
    .product-review .product-review-column .review-container h1 {
        font-size: 25px;
        margin-top: 7px;
    }
    .product-review .product-review-column .review-container .accordion button {
        font-size: 14px;
    }
    .product-review .owl-carousel.review .owl-item img {
        width: 50px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 h5 {
        font-size: 14px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 p {
        font-size: 11px;
    }
    .product-review .product-review-column .review-container .accordion .collapse {
        padding: 15px 0;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-2 p {
        font-size: 12px;
    }
    .product-review .product-review-column .review-container .accordion .collapse::before {
        height: 75px;
        left: 29.5%;
    }
    .product-review .product-review-column .review-container .read-more-reviews a {
        padding: 8px 25px;
        font-size: 11px;
        margin-top: 0;
    }
    .choose-oil {
        padding: 60px 0;
    }
    .choose-oil .title img {
        width: 100px;
    }
    .choose-oil-column .choose-oil-content p:last-child {
        font-size: 16px;
        line-height: 1.5;
        padding-right: 75px;
    }
    .choose-oil .paragraph p {
        padding: 0 80px;
        font-size: 14px;
    }
    .spacer60 {
        padding: 30px;
    }
    .choose-oil-column .customize-btn a {
        font-size: 15px;
        line-height: 40px;
        padding: 0 25px;
    }
    .choose-oil .title h1::before,
    .choose-oil .title h1::after {
        width: 170px;
    }
    .choose-oil-column .choose-oil-content h3 {
        font-size: 26px;
    }
    .choose-oil-column .choose-oil-content p, 
    .choose-oil-column .choose-oil-content h3 {
        margin-bottom: 15px;
    }
    .satisfaction-customer {
        font-size: 10.4px;
    }
    .site-footer .site-footer-column .inner-footer-1 img {
        width: 185px;
    }
    .site-footer .site-footer-column .inner-footer-1 p {
        font-size: 13px;
    }
    .site-footer .site-footer-column .inner-footer-1 .nav {
        margin-top: 10px;
    }
    .site-footer .site-footer-column .inner-footer-2 h3, 
    .site-footer .site-footer-column .inner-footer-3 h3, 
    .site-footer .site-footer-column .inner-footer-4 h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .site-footer .site-footer-column .inner-footer-2 p {
        font-size: 13px;
        line-height: 1.5;
    }
    .site-footer .site-footer-column .inner-footer-3 .nav li a {
        font-size: 13px;
        padding-bottom: 5px;
    }
    .site-footer .site-footer-column .inner-footer-4 p {
        font-size: 13px;
        padding-bottom: 8px;
    }
    .site-footer .site-footer-column .copyrights p {
        margin-top: 20px;
        font-size: 13px;
    }
    .site-footer {
        padding: 60px 0 30px;
    }
    /* **************************** */
    /* **************************** */
    /* *******Build Your Own******* */
    /* **************************** */
    /* **************************** */
    .creation-1 .creation-1-column .choose-oil .quiz-text h1,
    .product-creation .product-creation-column .choose-flowers .quiz-text h1,
    .creation-3-column .last-stage .quiz-text h1 {
        font-size: 35px;
    }
    .creation-1 {
        padding: 65px 0 30px;
    }
    .creation-1 .creation-1-column .choose-oil {
        padding: 50px 0 0;
    }
    .choose-oil .oil input[type=radio] + label {
        width: 180px;
        height: 180px;
    }
    .choose-oil .oil input[type=radio] + label>img {
        margin: 43px auto;
        width: 70px;
    }
    .creation-1 .creation-1-column .choose-oil .oil {
        padding: 30px 0;
    }
    .product-creation {
        padding: 70px 0;
    }
    .customize-oill .last-stage .added-product .product {
        min-width: 430px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .customize-oill.creation-3-column .next-button {
        padding-top: 30px;
    }
    .customize-oill .last-stage .added-product .product:last-child {
        margin-right: 0;
    }
    .customize-oill.creation-3-column .last-stage .added-product .product .detail {
        padding-left: 15px;
    } 
    /* *********************** */
    /* *********************** */
    /* *******Cart Page******* */
    /* *********************** */
    /* *********************** */
    .shopping-cart {
        padding: 7vh 0;
    }
    .shopping-cart-column .cart-details .inner-col-2 div > img {
        height: auto;
    }
    .col-md-7.offset-md-1.ml-auto.mr-auto.shopping-cart-column {
        margin: 0 !important;
        flex: 0 0 66%;
        max-width: 66%;
    }
    /* *********************** */
    /* *********************** */
    /* *******Shop Page******* */
    /* *********************** */
    /* *********************** */
    .shop-page {
        padding: 70px 0 35px;
    }
    .spacer {
        padding: 20px;
    }
    /* ************************ */
    /* ************************ */
    /* *******About Page******* */
    /* ************************ */
    /* ************************ */
    .heading {
        font-size: 46px;
        padding-bottom: 15px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading h1 {
        font-size: 46px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading img {
        display: none;
    }
    .blog-banner-column .inner-column  {
        width: 100%;
        margin-left: 95px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li a {
        font-size: 18px;
        color: #fff;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a::before {
        top: 8px;
    }
    .about-tiles {
        padding: 70px 0px;
    }
    .section_col .tiles {
        padding: 0px;
    }
    .about-tiles .section_col .col_pad {
        padding: 0;
    }
    .col-lg-8.section_col {
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-lg-4.section_col {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .blog-post {
        padding: 80px 0;
    }
    .contact-form {
        padding: 80px 0;
    }
}
@media screen and (min-width: 768px) and (max-width:  991px) {
    .hide-navigation {
        display: none !important;
    }
    .slider {
        margin-top: 0;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading h1 {
        font-size: 28px;
    }
    .slider .image-wrapper .caro-container .text-cont {
        top: 53%;
        left: 55px;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading {
        width: 100%;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn a {
        padding: 8px 20px;
        font-size: 12px;
    }
    .customization {
        padding: 60px 0 85px;
    }
    .customization .title h1,
    .choose-oil .title h1 {
        font-size: 37px;
        line-height: 37px;
    }
    .customization .title h1::before,
    .creation-1 .title h1::before,
    .product-creation .title h1::before,
    .creation-3 .title h1::before {
        width: 110px;
        right: 84.5%;
    }
    .customization .title h1::after,
    .creation-1 .title h1::after, 
    .product-creation .title h1::after,
    .creation-3 .title h1::after{
        width: 110px;
        left: 84.5%;
    }
    .customization-column .description h1 {
        line-height: 1;
        font-size: 32px;
    }
    .customization-column .description p {
        font-size: 13px;
    }
    .customization-column .description .product-btn {
        font-size: 12px;
    }
    .customization-column .description .inner-description {
        margin: 15px 0 5px;
    }
    .product-review .product-review-column .flower-img {
        top: -30px;
        width: 125px;
    }
    .customization-column .description .inner-description h3 {
        font-size: 20px;
    }
    .padTop {
        padding-top: 50px;
    }
    .customization-column .hair-img img {
        width: 325px;
    }
    .spacer60 {
        padding: 40px;
    }
    .product-review,
    .product-review .product-review-column {
        height: 280px;
    }
    .product-review .product-review-column .review-container .five-star i {
        font-size: 11px;
    }
    .product-review .product-review-column .review-container h1 {
        font-size: 21px;
        margin-top: 5px;
    }
    .product-review .product-review-column .review-container .accordion button {
        font-size: 12px;
    }
    .product-review .owl-carousel.review .owl-item img {
        width: 50px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 h5 {
        font-size: 12px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 p {
        font-size: 10px;
    }
    .product-review .product-review-column .review-container .accordion .collapse {
        padding: 15px 0;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-2 p {
        font-size: 10px;
        padding: 0 5px;
    }
    .product-review .product-review-column .review-container .accordion .collapse::before {
        height: 75px;
        left: 29.5%;
    }
    .product-review .product-review-column .review-container .read-more-reviews a {
        padding: 8px 20px;
        font-size: 10px;
        margin-top: 0;
    }
    .choose-oil {
        padding: 60px 0;
    }
    .choose-oil .title img {
        width: 100px;
    }
    .choose-oil-column .choose-oil-content p:last-child {
        font-size: 15px;
        line-height: 1.5;
        padding-right: 29px;
    }
    .choose-oil .paragraph p {
        padding: 0 80px;
        font-size: 13px;
        line-height: 1.3;
    }
    .spacer60 {
        padding: 20px;
    }
    .choose-oil-column .customize-btn a {
        font-size: 15px;
        line-height: 40px;
        padding: 0 25px;
    }
    .choose-oil .title h1::before,
    .choose-oil .title h1::after {
        width: 120px;
    }
    .choose-oil .title h1::before {
        right: 66.5%;
    }
    .choose-oil .title h1::after {
        left: 66.5%;
    }
    .choose-oil-column .choose-oil-content h3 {
        font-size: 25px;
    }
    .choose-oil-column .choose-oil-content p, 
    .choose-oil-column .choose-oil-content h3 {
        margin-bottom: 15px;
    }
    .satisfaction-customer {
        font-size: 10.4px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .site-footer .site-footer-column .inner-footer-1 img {
        width: 185px;
    }
    .site-footer .site-footer-column .inner-footer-1 p {
        font-size: 10px;
    }
    .site-footer .site-footer-column .inner-footer-1 .nav {
        margin-top: 5px;
    }
    .site-footer .site-footer-column .inner-footer-2 h3, 
    .site-footer .site-footer-column .inner-footer-3 h3, 
    .site-footer .site-footer-column .inner-footer-4 h3 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .site-footer .site-footer-column .inner-footer-2 p {
        font-size: 11px;
        line-height: 1.5;
    }
    .site-footer .site-footer-column .inner-footer-3 .nav li a {
        font-size: 11px;
        padding-bottom: 5px;
    }
    .site-footer .site-footer-column .inner-footer-4 p {
        font-size: 11px;
        padding-bottom: 8px;
    }
    .site-footer .site-footer-column .copyrights p {
        margin-top: 15px;
        font-size: 11px;
    }
    .site-footer {
        padding: 50px 0 30px;
    }
    /* **************************** */
    /* **************************** */
    /* *******Build Your Own******* */
    /* **************************** */
    /* **************************** */
    .creation-1 .creation-1-column .choose-oil .quiz-text h1,
    .product-creation .product-creation-column .choose-flowers .quiz-text h1,
    .creation-3-column .last-stage .quiz-text h1 {
        font-size: 32px;
    }
    .creation-1 .title h1,
    .product-creation .title h1,
    .creation-3 .title h1 {
        font-size: 37px;
    }
    .creation-1 {
        padding: 55px 0 15px;
    }
    .creation-1 .creation-1-column .choose-oil {
        padding: 50px 0 0;
    }
    .choose-oil .oil input[type=radio] + label {
        width: 160px;
        height: 160px;
    }
    .choose-oil .oil input[type=radio] + label>img {
        margin: 40px auto;
        width: 60px;
    }
    .creation-1 .creation-1-column .choose-oil .oil {
        padding: 30px 0;
    }
    .creation-1 .creation-1-column .choose-oil .oil .nav li label h5 {
        padding-top: 25px;
        font-size: 18px;
    }
    .product-creation .product-creation-column .choose-flowers {
        padding: 50px 0 0;
    }
    .flowers .flower-container .nav-item {
        width: 172px;
    }
    .product-creation {
        padding: 50px 0;
    }
    .flowers input[type=checkbox] + label {
        padding: 10px 0;
        width: 150px;
        height: 150px;
    }
    .flowers .flower-container .nav-item label .custome-images {
        width: 100px;
    }
    .flowers .flower-container .nav-item label p {
        padding: 5px 0;
    }
    .product-creation-column .next-page {
        padding-top: 40px;
    }
    .customize-oill {
        padding-top: 30px;
    }
    .creation-3-column .last-stage .size {
        padding: 30px 0 0;
    }
    .creation-3-column .last-stage .size input[type=radio] + label>img {
        width: 25px;
    }
    .creation-3-column .last-stage .size .nav li label .inner-container h6 {
        font-size: 30px;
    }
    .last-stage .size .nav .frequency-item label {
        padding: 12px 22px !important;
    }
    .size .frequency-item label p {
        font-size: 18px;
    }
    .last-stage .size .nav .frequency-item {
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .last-stage .size .nav .frequency-item:last-child {
        margin-bottom: 0;
    }
    .col-md-12.creation-3-column.customize-oill .last-stage .size .nav {
        justify-content: center;
    }
    .creation-3-column .last-stage .quiz-text h3 {
        font-size: 22px;
    }
    .customize-oill .last-stage .added-product .product {
        margin-right: 15px;
    }
    .customize-oill .last-stage .added-product .product:last-child {
        margin-right: 0;
    }
    .customize-oill .last-stage .added-product .product {
        min-width: 297px;
        padding-top: 30px;
        padding-bottom: 30px;
        display: block;
    }
    .creation-3-column.customize-oill .last-stage .added-product .product .detail {
        margin-bottom: 0;
        padding-top: 15px
    }
    .customize-oill .last-stage .added-product .product .image {
        width: 100%;
    }
    .creation-3-column .last-stage .added-product .product .image h3 {
        text-align: left;
    }
    .customize-oill .last-stage .added-product .product .image img {
        width: 100%;
    }
    .creation-3-column .last-stage .added-product .product .detail a {
        margin-top: 10px;
    }
    .creation-3-column .next-button {
        padding-top: 25px;
    }
    .creation-3 {
        padding: 55px 0;
    }
    /* *********************** */
    /* *********************** */
    /* *******Cart Page******* */
    /* *********************** */
    /* *********************** */
    .shopping-cart {
        padding: 7vh 0;
    }
    .shopping-cart-column .cart-details .inner-col-2 div > img {
        height: auto;
    }
    .col-md-7.offset-md-1.ml-auto.mr-auto.shopping-cart-column {
        margin: 0 !important;
        flex: 0 0 63%;
        max-width: 63%;
    }
    .col-md-4.shopping-cart-column.sticky-top {
        flex: 0 0 37%;
        max-width: 37%;
    }
    .shopping-cart-column.sticky-top .order-summary .inner-column-summary h2 {
        font-size: 28px;
    }   
    .shopping-cart-column .inner-column-total {
        padding: 20px 10px 5px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a {
        margin-left: 15px;
        padding: 0;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > img {
        width: 45px;
    }
    .shopping-cart-column .next-button button {
        padding: 8px 30px;
        font-size: 13px;
    }
    .shopping-cart-column .cart-details {
        padding: 25px 10px;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product {
        padding: 20px 15px;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .auto-generated-product:last-child {
        margin-top: 0.8rem;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product .detail p {
        font-size: 14px;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product .detail a {
        margin-top: 0;
        font-size: 12px;
    }
    .shopping-cart-column {
        padding-bottom: 0;
        padding-top: 20px;
    }
    .checkout-area .content-box .content .form-control#shipop {
        margin-bottom: 10px;
    }
    /* *********************** */
    /* *********************** */
    /* *******Shop Page******* */
    /* *********************** */
    /* *********************** */
    .shop-page {
        padding: 65px 0 35px;
    }
    .spacer {
        padding: 15px;
    }
    .shop-page .creation-3-column .last-stage .added-product .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .login-form-column {
        -ms-flex: 0 0 60.666667%;
        flex: 0 0 60.666667%;
        max-width: 60.666667%;
    }
    /* ************************ */
    /* ************************ */
    /* *******About Page******* */
    /* ************************ */
    /* ************************ */
    .heading {
        font-size: 42px;
        padding-bottom: 5px;
    }
    .text_about_us {
        font-size: 16px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading h1 {
        font-size: 42px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading img {
        display: none;
    }
    .blog-banner-column .inner-column  {
        width: 100%;
        margin-left: 60px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li a {
        font-size: 16px;
        color: #fff;
        padding-top: 0;
        padding-bottom: 0;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a::before {
        top: -1px;
    }
    .about-tiles {
        padding: 50px 0px;
    }
    .About_Banner .col-md-6 .img1 {
        width: 198px;
    }
    .tiles .tile_para1:nth-child(1) {
        padding-top: 0;
    }
    .about-tiles .col-lg-4.section_col .pt-5.text-center {
        padding-top: 25px !important;
        padding-bottom: 25px;
    }
    .blog-post {
        padding: 70px 0;
    }
    .blog-post .col-md-4.blog-post-column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .blog-post .blog-post-column .inner-column .blog-bottom-section::before {
        right: 48%;
    }
    .contact-form {
        padding: 60px 0;
    }
    .contact-form .contact-form-column .title h1 {
        font-size: 42px;
    }
    .col-md-12.contact-form-column.pt-5 {
        padding-top: 2rem!important;
    }
}
@media screen and (min-width: 425px) and (max-width:  767px) {
    .col-md-4.shopping-cart-column.sticky-top .order-summary:nth-child(2) {
        margin-top: 15px;
    }
    .top-header {
        padding: 7px 10px;
    }
    .top-header a {
        font-size: 11px;
    }
    .top-header p {
        font-size: 9px;
    }
    .my-account {
        display: flex;
    }
    .main-header .col-md-6.mobile-nav-column:nth-child(2) {
        flex: 0 0 30%;
        max-width: 30%;
        justify-content: flex-start !important;
    }
    .main-header .col-md-6.mobile-nav-column:nth-child(3) {
        flex: 0 0 70%;
        max-width: 70%;
        justify-content: flex-end !important;
    }
    .hide-navigation {
        display: none !important;
    }
    .slider {
        margin-top: 0;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading h1 {
        font-size: 18px;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn {
        margin-top: 5px;
    }
    .slider .image-wrapper .caro-container .text-cont {
        top: 50%;
        left: 15px;
        width: 47%;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading {
        width: 100%;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn a {
        padding: 5px 12px;
        font-size: 8px;
        border-radius: 3px;
    }
    #mySidenav .site-logo-mob img {
        width: 70px;
    }
    .sidenav a {
        padding-left: 0;
    }
    .main-header .navigation-column #mySidenav .nav li a {
        font-size: 25px;
    }
    .customization {
        padding: 40px 0 65px;
    }
    .customization .title h1,
    .choose-oil .title h1 {
        font-size: 34px;
        line-height: 34px;
    }
    .customization .title h1::before,
    .customization .title h1::after {
        display: none;
    }
    .customization-column .description h1 {
        line-height: 1;
        font-size: 29px;
    }
    .customization-column .description p {
        font-size: 13px;
    }
    .customization-column .description .product-btn {
        font-size: 11px;
    }
    .customization .container .row:nth-child(2) {
        flex-direction: column-reverse;
    }
    .customization-column .description .inner-description {
        margin: 5px 0;
    }
    .product-review .product-review-column .flower-img {
        top: -35px;
        width: 180px;
    }
    .product-review .product-review-column .review-container {
        top: -30px;
        position: relative;
    }
    .customization-column .description .inner-description h3 {
        font-size: 19px;
    }
    .customization-column .description .inner-description p {
        padding: 7px 0;
        font-size: 12px;
    }
    .padTop {
        padding-top: 40px;
    }
    .customization-column .hair-img img {
        width: 325px;
    }
    .spacer60 {
        padding: 40px;
    }
    .product-review,
    .product-review .product-review-column {
        height: auto;
    }
    .product-review .product-review-column .review-container .five-star i {
        font-size: 11px;
    }
    .product-review .product-review-column .review-container h1 {
        font-size: 21px;
        margin-top: 5px;
    }
    .product-review .product-review-column .review-container .accordion button {
        font-size: 12px;
    }
    .product-review .owl-carousel.review .owl-item img {
        width: 50px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 h5 {
        font-size: 12px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 p {
        font-size: 10px;
    }
    .product-review .product-review-column .review-container .accordion .collapse {
        padding: 15px 0;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-2 p {
        font-size: 10px;
        padding: 0 5px;
    }
    .product-review .product-review-column .review-container .accordion .collapse::before {
        height: 75px;
        left: 29.5%;
    }
    .product-review .product-review-column .review-container .read-more-reviews a {
        padding: 8px 20px;
        font-size: 10px;
        margin-top: 0;
    }
    .choose-oil {
        padding: 40px 0;
    }
    .choose-oil .title img {
        width: 100px;
    }
    .choose-oil-column .choose-oil-content p:last-child {
        font-size: 15px;
        line-height: 1.5;
        padding-right: 29px;
    }
    .choose-oil .paragraph p {
        padding: 0 10px;
        font-size: 13px;
        line-height: 1.3;
    }
    .product-review {
        background-position: bottom right;
    }
    .col-md-4.offset-md-1.ml-auto.mr-auto.product-review-column {
        display: flex;
        justify-content: center;
    }
    .choose-oil-image {
        padding-top: 50px;
        text-align: left !important;
    }
    .row2, .row4 {
        flex-direction: column-reverse;
    }
    .spacer60 {
        padding: 20px;
    }
    .choose-oil-column .customize-btn a {
        font-size: 15px;
        line-height: 40px;
        padding: 0 25px;
    }
    .choose-oil .title h1::before,
    .choose-oil .title h1::after {
        display: none;
    }
    .choose-oil-column .choose-oil-content h3 {
        font-size: 25px;
    }
    .choose-oil-column .choose-oil-content p, 
    .choose-oil-column .choose-oil-content h3 {
        margin-bottom: 15px;
    }
    .satisfaction-customer {
        font-size: 10.4px;
        padding-left: 0;
        padding-right: 0;
    }
    .satisfaction-customer {
        padding-top: 35px;
    }
    .mobile-nav-logo a img {
        width: 50px;
    }
    .site-footer-column {
        justify-content: flex-start !important;
        padding-bottom: 25px;
    }
    .site-footer-column:last-child {
        padding-bottom: 0;
    }
    .site-footer .site-footer-column .inner-footer-1 img {
        width: 185px;
    }
    .site-footer .site-footer-column .inner-footer-1 p {
        font-size: 12px;
    }
    .site-footer .site-footer-column .inner-footer-1 .nav {
        margin-top: 5px;
    }
    .site-footer .site-footer-column .inner-footer-2 h3, 
    .site-footer .site-footer-column .inner-footer-3 h3, 
    .site-footer .site-footer-column .inner-footer-4 h3 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .site-footer .site-footer-column .inner-footer-2 p {
        font-size: 12px;
        line-height: 1.5;
    }
    .site-footer .site-footer-column .inner-footer-3 .nav li a {
        font-size: 12px;
        padding-bottom: 5px;
    }
    .site-footer .site-footer-column .inner-footer-4 p {
        font-size: 12px;
        padding-bottom: 8px;
    }
    .site-footer .site-footer-column .copyrights p {
        margin-top: 15px;
        font-size: 12px;
    }
    .site-footer {
        padding: 50px 0 30px;
    }
    /* **************************** */
    /* **************************** */
    /* *******Build Your Own******* */
    /* **************************** */
    /* **************************** */
    .creation-1 .creation-1-column .choose-oil .quiz-text h1,
    .product-creation .product-creation-column .choose-flowers .quiz-text h1,
    .creation-3-column .last-stage .quiz-text h1 {
        font-size: 29px;
    }
    .creation-1 .title h1,
    .product-creation .title h1,
    .creation-3 .title h1 {
        font-size: 34px;
    }
    .creation-1 .title h1::before,
    .creation-1 .title h1::after,
    .product-creation .title h1::before,
    .product-creation .title h1::after,
    .creation-3 .title h1::before,
    .creation-3 .title h1::after {
        display: none;
    }
    .creation-1 {
        padding: 55px 0 15px;
    }
    .creation-1 .creation-1-column .choose-oil {
        padding: 35px 0 0;
    }
    .choose-oil .oil input[type=radio] + label {
        width: 140px;
        height: 140px;
    }
    .choose-oil .oil input[type=radio] + label>img {
        margin: 40px auto;
        width: 45px;
    }
    .creation-1 .creation-1-column .choose-oil .oil {
        padding: 40px 0 15px;
    }
    .creation-1 .creation-1-column .choose-oil .oil .nav li label h5 {
        padding-top: 20px;
        font-size: 16px;
    }
    .flowers .flower-container .nav-item {
        width: 197px;
    }
    .flowers input[type=checkbox] + label {
        height: 140px;
        padding: 0px 0;
    }
    .flowers .flower-container .nav-item label .custome-images {
        width: 95px;
    }
    .flowers .flower-container .nav-item label p {
        padding: 0;
    }
    .product-creation .product-creation-column .choose-flowers {
        padding: 50px 0 0;
    }
    .product-creation-column .next-page {
        padding-top: 40px;
    }
    .product-creation {
        padding: 55px 0;
    }
    .creation-3 {
        padding: 55px 0;
    }
    .customize-oill {
        padding-top: 30px;
    }
    .creation-3-column .last-stage .size input[type=radio] + label>img {
        width: 20px;
    }
    .creation-3-column .last-stage .size .nav li label .inner-container h6 {
        font-size: 30px;
    }
    .creation-3-column .last-stage .size .nav li label .inner-container p {
        font-size: 16px;
    }
    .creation-3-column .last-stage .size .nav .size-item:first-child {
        margin-right: 8px;
    }
    .creation-3-column .last-stage .size .nav .size-item:last-child {
        margin-left: 8px;
    }
    .creation-3-column .last-stage .size {
        padding: 30px 0 0;
    }
    .size .frequency-item label p {
        font-size: 17px;
    }
    .last-stage .size .nav .frequency-item label {
        padding: 10px 20px !important;
    }
    .last-stage .size .nav .frequency-item {
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .last-stage .size .nav .frequency-item:nth-child(2) {
        margin-right: 0;
    }
    .last-stage .size .nav .frequency-item:nth-child(3),
    .last-stage .size .nav .frequency-item:nth-child(4) {
        margin-bottom: 0;
    }
    .col-md-12.creation-3-column.customize-oill .last-stage .size .nav {
        justify-content: space-evenly;
    } 
    .creation-3-column .last-stage .quiz-text h3 {
        font-size: 20px;
    }
    .customize-oill .last-stage .added-product .product:last-child {
        margin-bottom: 0;
    }
    .customize-oill .last-stage .added-product .product {
        min-width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .creation-3-column.customize-oill .last-stage .added-product .product .detail {
        margin-bottom: 0;
        padding-top: 15px
    }
    .customize-oill .last-stage .added-product .product .image, 
    .auto-generated-product .product .image {
        width: 100%;
    }
    .creation-3-column .last-stage .added-product .product .image h3 {
        text-align: left;
    }
    .customize-oill .last-stage .added-product .product .image img {
        width: 100%;
    }
    .creation-3-column .last-stage .added-product .product .detail a {
        margin-top: 10px;
    }
    .customize-oill .last-stage .added-product {
        flex-direction: column;
        margin-top: 30px;
    }
    .creation-3-column .next-button {
        padding-top: 25px;
    }
    /* *********************** */
    /* *********************** */
    /* *******Cart Page******* */
    /* *********************** */
    /* *********************** */
    .shopping-cart {
        padding: 7vh 0;
    }
    .shopping-cart-column .cart-details .inner-col-2 div > img {
        height: 250px;
    }
    .shopping-cart-column.sticky-top .order-summary .inner-column-summary h2 {
        font-size: 28px;
    }   
    .shopping-cart-column .inner-column-total,
    .shopping-cart-column .order-summary .inner-column-summary {
        padding: 20px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 {
        font-size: 19px;
        margin-bottom: 5px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > span {
        margin-left: 5px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a {
        margin-left: 15px;
        padding: 0;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > img {
        width: 45px;
    }
    .shopping-cart-column .next-button button {
        padding: 8px 30px;
        font-size: 13px;
    }
    .shopping-cart-column .cart-details {
        padding: 25px 10px;
        justify-content: space-between;
        align-items: center;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product {
        padding: 20px 15px;
        display: block !important;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product .detail p {
        font-size: 14px;
    }
    .auto-generated-product .product .detail {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product .detail a {
        margin-top: 10px;
        font-size: 12px;
    }
    .shopping-cart-column {
        padding-bottom: 0;
        padding-top: 20px;
    }
    .shopping-cart-column .cart-details .inner-col-2 .text-center {
        margin-top: 53px;
    }
    .shopping-cart-column .order-summary {
        margin-top: 0;
    }
    .shopping-cart-column .cart-details .inner-col-2 {
        align-items: flex-end;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .auto-generated-product:last-child {
        margin-top: 0.8rem;
    }
    .checkout-area .content-box .content .form-control#shipop {
        margin-bottom: 10px;
    }
    /* *********************** */
    /* *********************** */
    /* *******Shop Page******* */
    /* *********************** */
    /* *********************** */
    .shop-page {
        padding: 65px 0 35px;
    }
    .spacer {
        padding: 15px;
    }
    /* ************************ */
    /* ************************ */
    /* *******About Page******* */
    /* ************************ */
    /* ************************ */
    .heading {
        font-size: 38px;
        padding-bottom: 0;
    }
    .text_about_us {
        font-size: 14px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading h1 {
        font-size: 38px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading img {
        display: none;
    }
    .blog-banner-column .inner-column  {
        width: 100%;
        margin-left: 0;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li a {
        font-size: 14px;
        color: #fff;
        padding-top: 0;
        padding-bottom: 0;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a::before {
        top: -1px;
    }
    .about-tiles {
        padding: 50px 0px;
    }
    .About_Banner .col-md-6 {
        display: none;
    }
    .tiles .tile_para1:nth-child(1) {
        padding-top: 0;
    }
    .about-tiles .col-lg-4.section_col .pt-5.text-center {
        padding-top: 25px !important;
        padding-bottom: 25px;
    }
    .About_Banner {
        min-height: 150px;
    }
    .About_Banner .col-md-5.offset-md-1.d-flex.flex-column.justify-content-center.align-items-start {
        padding: 42px 15px;
    }
    .about-tiles .col_pad .tiles {
        padding: 0;
    }
    .about-tiles .col_pad {
        padding: 0 20px;
    }
    .tile_para1 {
        font-size: 14px;
    }
    .blog-post {
        padding: 70px 0;
    }
    .blog-banner .col-md-7.blog-banner-column {
        display: none;
    }
    .blog-post .blog-post-column .inner-column .blog-bottom-section::before {
        right: 48%;
    }
    .blog-banner .container {
        height: 150px;
    }
    .blog-banner {
        min-height: 150px;
    }
    .blog-banner .col-md-5.m-auto.blog-banner-column.d-flex.justify-content-center.align-items-center {
        padding: 42px 15px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav {
        margin-top: 5px;
    }
    .blog-post .col-md-4.blog-post-column {
        margin-bottom: 20px;
    }
    .contact-form {
        padding: 55px 0;
    }
    .contact-form .contact-form-column .title h1 {
        font-size: 38px;
    }
    .col-md-12.contact-form-column.pt-5 {
        padding-top: 1.8rem!important;
    }
    .contact-form-column .contact_form .submit-btn a {
        font-size: 12px;
    }
}
@media screen and (min-width: 375px) and (max-width:  424px) {
     .col-md-4.shopping-cart-column.sticky-top .order-summary:nth-child(2) {
        margin-top: 15px;
    }
    .top-header {
        padding: 7px 10px 20px;
        position: relative;
    }
    .top-header a:first-child {
        padding-left: 0;
    }
    .top-header a {
        font-size: 11px;
        padding-left: 5px;
    }
    .top-header p {
        font-size: 9px;
        position: absolute;
        bottom: 3px;
        left: 15%;
    }
    .my-account {
        display: flex;
    }
    .main-header .col-md-6.mobile-nav-column:nth-child(2) {
        flex: 0 0 30%;
        max-width: 30%;
        justify-content: flex-start !important;
    }
    .main-header .col-md-6.mobile-nav-column:nth-child(3) {
        flex: 0 0 70%;
        max-width: 70%;
        justify-content: flex-end !important;
    }
    .hide-navigation {
        display: none !important;
    }
    .slider {
        margin-top: 0;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading h1 {
        font-size: 16px;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn {
        margin-top: 0px;
    }
    .slider .image-wrapper .caro-container .text-cont {
        top: 50%;
        left: 10px;
        width: 47%;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading {
        width: 100%;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn a {
        padding: 5px 10px;
        font-size: 8px;
        border-radius: 3px;
    }
    #mySidenav .site-logo-mob img {
        width: 70px;
    }
    .sidenav a {
        padding-left: 0;
    }
    .main-header .navigation-column #mySidenav .nav li a {
        font-size: 25px;
    }
    .customization {
        padding: 40px 0 65px;
    }
    .customization .title h1,
    .choose-oil .title h1 {
        font-size: 33px;
        line-height: 33px;
    }
    .customization .title h1::before,
    .customization .title h1::after {
        display: none;
    }
    .customization-column .description h1 {
        line-height: 1;
        font-size: 28px;
    }
    .customization-column .description p {
        font-size: 13px;
    }
    .customization-column .description .product-btn {
        font-size: 11px;
    }
    .customization .container .row:nth-child(2) {
        flex-direction: column-reverse;
    }
    .customization-column .description .inner-description {
        margin: 5px 0;
    }
    .product-review .product-review-column .flower-img {
        top: -35px;
        width: 160px;
    }
    .product-review .product-review-column .review-container {
        top: -30px;
        position: relative;
    }
    .customization-column .description .inner-description h3 {
        font-size: 18px;
        padding-top: 10px;
    }
    .customization-column .description .inner-description p {
        padding: 7px 0;
        font-size: 12px;
    }
    .padTop {
        padding-top: 40px;
    }
    .customization-column .hair-img img {
        width: 325px;
    }
    .spacer60 {
        padding: 40px;
    }
    .product-review,
    .product-review .product-review-column {
        height: auto;
    }
    .product-review .product-review-column .review-container .five-star i {
        font-size: 11px;
    }
    .product-review .product-review-column .review-container h1 {
        font-size: 21px;
        margin-top: 5px;
    }
    .product-review .product-review-column .review-container .accordion button {
        font-size: 12px;
    }
    .product-review .owl-carousel.review .owl-item img {
        width: 50px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 h5 {
        font-size: 12px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 p {
        font-size: 10px;
    }
    .product-review .product-review-column .review-container .accordion .collapse {
        padding: 23px 0;
        min-height: 130px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-2 p {
        font-size: 10px;
        padding: 0 5px;
    }
    .product-review .product-review-column .review-container .accordion .collapse::before {
        height: 75px;
        left: 28.8%;
        top: 25px;
    }
    .product-review .product-review-column .review-container .read-more-reviews a {
        padding: 8px 20px;
        font-size: 10px;
        margin-top: 0;
    }
    .choose-oil {
        padding: 40px 0;
    }
    .choose-oil .title img {
        width: 100px;
    }
    .choose-oil-column .choose-oil-content p:last-child {
        font-size: 15px;
        line-height: 1.5;
        padding-right: 29px;
    }
    .choose-oil .paragraph p {
        padding: 0 10px;
        font-size: 13px;
        line-height: 1.3;
    }
    .product-review {
        background-position: bottom right;
    }
    .col-md-4.offset-md-1.ml-auto.mr-auto.product-review-column {
        display: flex;
        justify-content: center;
    }
    .choose-oil-image {
        padding-top: 35px;
        text-align: left !important;
    }
    .row2, .row4 {
        flex-direction: column-reverse;
    }
    .spacer60 {
        padding: 20px;
    }
    .choose-oil-column .customize-btn a {
        font-size: 14px;
        line-height: 36px;
        padding: 0 20px;
        margin-top: 10px;
    }
    .choose-oil .title h1::before,
    .choose-oil .title h1::after {
        display: none;
    }
    .choose-oil-column .choose-oil-content h3 {
        font-size: 24px;
    }
    .choose-oil-column .choose-oil-content p, 
    .choose-oil-column .choose-oil-content h3 {
        margin-bottom: 10px;
    }
    .satisfaction-customer {
        font-size: 10.4px;
        padding-left: 0;
        padding-right: 0;
    }
    .satisfaction-customer {
        padding-top: 35px;
    }
    .mobile-nav-logo a img {
        width: 50px;
    }
    .site-footer-column {
        justify-content: flex-start !important;
        padding-bottom: 25px;
    }
    .site-footer-column:last-child {
        padding-bottom: 0;
    }
    .site-footer .site-footer-column .inner-footer-1 img {
        width: 185px;
    }
    .site-footer .site-footer-column .inner-footer-1 p {
        font-size: 12px;
    }
    .site-footer .site-footer-column .inner-footer-1 .nav {
        margin-top: 5px;
    }
    .site-footer .site-footer-column .inner-footer-2 h3, 
    .site-footer .site-footer-column .inner-footer-3 h3, 
    .site-footer .site-footer-column .inner-footer-4 h3 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .site-footer .site-footer-column .inner-footer-2 p {
        font-size: 12px;
        line-height: 1.5;
    }
    .site-footer .site-footer-column .inner-footer-3 .nav li a {
        font-size: 12px;
        padding-bottom: 5px;
    }
    .site-footer .site-footer-column .inner-footer-4 p {
        font-size: 12px;
        padding-bottom: 8px;
    }
    .site-footer .site-footer-column .copyrights p {
        margin-top: 15px;
        font-size: 12px;
    }
    .site-footer {
        padding: 50px 0 30px;
    }
    /* **************************** */
    /* **************************** */
    /* *******Build Your Own******* */
    /* **************************** */
    /* **************************** */
    .creation-1 .creation-1-column .choose-oil .quiz-text h1,
    .product-creation .product-creation-column .choose-flowers .quiz-text h1,
    .creation-3-column .last-stage .quiz-text h1 {
        font-size: 28px;
    }
    .creation-1 .title h1,
    .product-creation .title h1,
    .creation-3 .title h1 {
        font-size: 33px;
    }
    .creation-1 .title h1::before,
    .creation-1 .title h1::after,
    .product-creation .title h1::before,
    .product-creation .title h1::after,
    .creation-3 .title h1::before,
    .creation-3 .title h1::after {
        display: none;
    }
    .creation-1 {
        padding: 55px 0 15px;
    }
    .creation-1 .creation-1-column .choose-oil {
        padding: 35px 0 0;
    }
    .choose-oil .oil input[type=radio] + label {
        width: 130px;
        height: 130px;
    }
    .choose-oil .oil input[type=radio] + label>img {
        margin: 37px auto;
        width: 40px;
    }
    .creation-1 .creation-1-column .choose-oil .oil {
        padding: 40px 0 15px;
    }
    .creation-1 .creation-1-column .choose-oil .oil .nav li label h5 {
        padding-top: 20px;
        font-size: 16px;
    }
    .creation-1 .creation-1-column .choose-oil .oil .nav {
        justify-content: space-around;
    }
    .product-creation {
        padding: 50px 0;
    }
    .product-creation .product-creation-column .choose-flowers {
        padding: 50px 0 0;
    }
    .product-creation-column .flowers {
        padding: 30px 0 20px;
    }
    .flowers input[type=checkbox] + label {
        width: 140px;
        height: 130px;
        padding: 0;
    }
    .flowers .flower-container .nav-item label .custome-images {
        width: 90px;
    }
    .flowers .flower-container .nav-item label p {
        padding: 0;
    }
    .flowers .flower-container .nav-item {
        width: 172px;
    }
    .product-creation-column .next-page {
        padding-top: 40px;
    }
    .creation-3 {
        padding: 55px 0;
    }
    .customize-oill {
        padding-top: 30px;
    }
    .creation-3-column .last-stage .size {
        padding: 30px 0 0;
    }
    .last-stage .size .nav .frequency-item {
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .last-stage .size .nav .frequency-item:nth-child(2),
    .last-stage .size .nav .frequency-item:nth-child(4) {
        margin-right: 0;
    }
    .last-stage .size .nav .frequency-item:nth-child(3),
    .last-stage .size .nav .frequency-item:nth-child(4) {
        margin-bottom: 0;
    }
    .last-stage .size .nav .frequency-item label {
        padding: 10px 15px !important;
    }
    .size .frequency-item label p {
        font-size: 16px;
    }
    .creation-3-column .last-stage .quiz-text h3 {
        font-size: 19px;
    }
    .customize-oill .last-stage .added-product {
        margin-top: 30px;
        display: block !important;
    }
    .customize-oill .last-stage .added-product .product {
        min-width: 100%;
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-right: 0;
        margin-bottom: 25px;
        display: block;
    }
    .customize-oill .last-stage .added-product .product:last-child {
        margin-bottom: 0;
    }
    .customize-oill .last-stage .added-product .product .image {
        width: 100%;
    }
    .customize-oill .last-stage .added-product .product .image img {
        width: 100%;
    }
    .creation-3-column.customize-oill .last-stage .added-product .product .image h3 {
        text-align: left;
    }
    .creation-3-column.customize-oill .last-stage .added-product .product .detail {
        margin-bottom: 0;
        padding-top: 15px;
    }
    .creation-3-column .next-button {
        padding-top: 20px;
    }
    .creation-3-column .last-stage .size input[type=radio] + label>img {
        width: 20px;
    }
    .creation-3-column .last-stage .size .nav li label .inner-container h6 {
        font-size: 28px;
    }
    .creation-3-column .last-stage .size .nav li label .inner-container p {
        font-size: 14px;
    }
    /* *********************** */
    /* *********************** */
    /* *******Cart Page******* */
    /* *********************** */
    /* *********************** */
    .shopping-cart {
        padding: 7vh 0;
    }
    .shopping-cart-column .cart-details .inner-col-2 div > img {
        height: 250px;
    }
    .shopping-cart-column.sticky-top .order-summary .inner-column-summary h2 {
        font-size: 28px;
    }   
    .shopping-cart-column .inner-column-total,
    .shopping-cart-column .order-summary .inner-column-summary {
        padding: 20px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 {
        font-size: 19px;
        margin-bottom: 5px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > span {
        margin-left: 5px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a {
        margin-left: 15px;
        padding: 0;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > img {
        width: 45px;
    }
    .shopping-cart-column .next-button button {
        padding: 8px 30px;
        font-size: 13px;
    }
    .shopping-cart-column .cart-details {
        padding: 25px 10px;
        justify-content: space-between;
        align-items: center;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product {
        padding: 20px 15px;
        display: block !important;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product .detail p {
        font-size: 14px;
    }
    .auto-generated-product .product .image {
        width: 100%;
    }
    .auto-generated-product .product .detail {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product .detail a {
        margin-top: 10px;
        font-size: 12px;
    }
    .shopping-cart-column {
        padding-bottom: 0;
        padding-top: 10px;
    }
    .shopping-cart-column .cart-details .inner-col-2 .text-center {
        margin-top: 53px;
    }
    .shopping-cart-column .order-summary {
        margin-top: 0;
    }
    .creation-3-column .last-stage .added-product .product .image h3 {
        text-align: left;
    }
    .shopping-cart .title h2 {
        font-size: 33px;
    }
    .shopping-cart-column .account-login p {
        font-size: 14px;
    }
    .shopping-cart-column .cart-details .inner-col-2 {
        align-items: flex-end;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .auto-generated-product:last-child {
        margin-top: 0.8rem;
    }
    .checkout-area .content-box .content .form-control#shipop {
        margin-bottom: 10px;
    }
    /* *********************** */
    /* *********************** */
    /* *******Shop Page******* */
    /* *********************** */
    /* *********************** */
    .shop-page {
        padding: 65px 0 35px;
    }
    .spacer {
        padding: 15px;
    }
    /* ************************ */
    /* ************************ */
    /* *******About Page******* */
    /* ************************ */
    /* ************************ */
    .heading {
        font-size: 36px;
        padding-bottom: 0;
    }
    .text_about_us {
        font-size: 13px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading h1 {
        font-size: 36px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading img {
        display: none;
    }
    .blog-banner-column .inner-column  {
        width: 100%;
        margin-left: 95px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li a {
        font-size: 13px;
        color: #fff;
        padding-top: 0;
        padding-bottom: 0;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a::before {
        top: -1px;
    }
    .about-tiles {
        padding: 50px 0px;
    }
    .About_Banner .col-md-6 {
        display: none;
    }
    .tiles .tile_para1:nth-child(1) {
        padding-top: 0;
    }
    .about-tiles .col-lg-4.section_col .pt-5.text-center {
        padding-top: 25px !important;
        padding-bottom: 25px;
    }
    .About_Banner {
        min-height: 150px;
    }
    .About_Banner .col-md-5.offset-md-1.d-flex.flex-column.justify-content-center.align-items-start {
        padding: 44px 15px;
    }
    .about-tiles .col_pad .tiles {
        padding: 0;
    }
    .about-tiles .col_pad {
        padding: 0 20px;
    }
    .tile_para1 {
        font-size: 13px;
    }
     /* ************************ */
    /* ************************ */
    /* *******About Page******* */
    /* ************************ */
    /* ************************ */
    .heading {
        font-size: 36px;
        padding-bottom: 0;
    }
    .text_about_us {
        font-size: 14px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading h1 {
        font-size: 36px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading img {
        display: none;
    }
    .blog-banner-column .inner-column  {
        width: 100%;
        margin-left: 0;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li a {
        font-size: 14px;
        color: #fff;
        padding-top: 0;
        padding-bottom: 0;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a::before {
        top: -1px;
    }
    .about-tiles {
        padding: 50px 0px;
    }
    .About_Banner .col-md-6 {
        display: none;
    }
    .tiles .tile_para1:nth-child(1) {
        padding-top: 0;
    }
    .about-tiles .col-lg-4.section_col .pt-5.text-center {
        padding-top: 25px !important;
        padding-bottom: 25px;
    }
    .About_Banner {
        min-height: 150px;
    }
    .About_Banner .col-md-5.offset-md-1.d-flex.flex-column.justify-content-center.align-items-start {
        padding: 42px 15px;
    }
    .about-tiles .col_pad .tiles {
        padding: 0;
    }
    .about-tiles .col_pad {
        padding: 0 20px;
    }
    .tile_para1 {
        font-size: 14px;
    }
    .blog-post {
        padding: 60px 0;
    }
    .blog-banner .col-md-7.blog-banner-column {
        display: none;
    }
    .blog-post .blog-post-column .inner-column .blog-bottom-section::before {
        right: 48%;
    }
    .blog-banner .container {
        height: 150px;
    }
    .blog-banner {
        min-height: 150px;
    }
    .blog-banner .col-md-5.m-auto.blog-banner-column.d-flex.justify-content-center.align-items-center {
        padding: 40px 15px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav {
        margin-top: 5px;
    }
    .blog-post .col-md-4.blog-post-column {
        margin-bottom: 20px;
    }
    .contact-form {
        padding: 50px 0;
    }
    .contact-form .contact-form-column .title h1 {
        font-size: 36px;
    }
    .col-md-12.contact-form-column.pt-5 {
        padding-top: 1.8rem!important;
    }
    .contact-form-column .contact_form .submit-btn a {
        font-size: 12px;
    }
    .contact-form .contact-form-column .title img {
        width: 90px;
    }
}
@media screen and (min-width: 315px) and (max-width:  374px) {
    .col-md-4.shopping-cart-column.sticky-top .order-summary:nth-child(2) {
        margin-top: 15px;
    }
    .top-header {
        padding: 7px 10px 20px;
        position: relative;
    }
    .top-header a:first-child {
        padding-left: 0;
    }
    .top-header a {
        font-size: 11px;
        padding-left: 5px;
    }
    .top-header p {
        font-size: 9px;
        position: absolute;
        bottom: 3px;
        left: 9%;
    }
    .my-account {
        display: flex;
    }
    .main-header .col-md-6.mobile-nav-column:nth-child(2) {
        flex: 0 0 30%;
        max-width: 30%;
        justify-content: flex-start !important;
    }
    .main-header .col-md-6.mobile-nav-column:nth-child(3) {
        flex: 0 0 70%;
        max-width: 70%;
        justify-content: flex-end !important;
    }
    .hide-navigation {
        display: none !important;
    }
    .slider {
        margin-top: 0;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading h1 {
        font-size: 15px;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn {
        margin-top: 0px;
    }
    .slider .image-wrapper .caro-container .text-cont {
        top: 50%;
        left: 8px;
        width: 47%;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading {
        width: 100%;
    }
    .slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn a {
        padding: 4px 8px;
        font-size: 7px;
        border-radius: 3px;
    }
    #mySidenav .site-logo-mob img {
        width: 70px;
    }
    .sidenav a {
        padding-left: 0;
    }
    .main-header .navigation-column #mySidenav .nav li a {
        font-size: 23px;
    }
    .sidenav .closebtn {
        line-height: 1;
    }
    .customization {
        padding: 40px 0 65px;
    }
    .customization .title h1,
    .choose-oil .title h1 {
        font-size: 30px;
        line-height: 30px;
    }
    .customization .title h1::before,
    .customization .title h1::after {
        display: none;
    }
    .customization-column .description h1 {
        line-height: 1;
        font-size: 26px;
    }
    .customization-column .description p {
        font-size: 13px;
    }
    .customization-column .description .product-btn {
        font-size: 11px;
    }
    .customization .container .row:nth-child(2) {
        flex-direction: column-reverse;
    }
    .customization-column .description .inner-description {
        margin: 5px 0;
    }
    .product-review .product-review-column .flower-img {
        top: -35px;
        width: 150px;
    }
    .product-review .product-review-column .review-container {
        top: -30px;
        position: relative;
    }
    .customization-column .description .inner-description h3 {
        font-size: 16px;
    }
    .customization-column .description .inner-description p {
        padding: 7px 0;
        font-size: 12px;
    }
    .padTop {
        padding-top: 40px;
    }
    .customization-column .hair-img img {
        width: 325px;
    }
    .spacer60 {
        padding: 40px;
    }
    .product-review,
    .product-review .product-review-column {
        height: auto;
    }
    .product-review .product-review-column .review-container .five-star i {
        font-size: 11px;
    }
    .product-review .product-review-column .review-container h1 {
        font-size: 21px;
        margin-top: 5px;
    }
    .product-review .product-review-column .review-container .accordion button {
        font-size: 12px;
    }
    .product-review .owl-carousel.review .owl-item img {
        width: 50px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 h5 {
        font-size: 12px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-1 p {
        font-size: 10px;
    }
    .product-review .product-review-column .review-container .accordion .collapse {
        padding: 0;
        min-height: 120px;
    }
    .product-review .product-review-column .review-container .accordion .collapse .inner-2 p {
        font-size: 10px;
        padding: 0 5px;
    }
    .product-review .product-review-column .review-container .accordion .collapse::before {
        height: 75px;
        left: 29.5%;
    }
    .product-review .product-review-column .review-container .read-more-reviews a {
        padding: 8px 20px;
        font-size: 10px;
        margin-top: 0;
    }
    .choose-oil {
        padding: 40px 0;
    }
    .choose-oil .title img {
        width: 100px;
    }
    .choose-oil-column .choose-oil-content p:last-child {
        font-size: 13px;
        line-height: 1.5;
        padding-right: 29px;
    }
    .choose-oil .paragraph p {
        padding: 0;
        font-size: 13px;
        line-height: 1.3;
    }
    .product-review {
        background-position: bottom right;
    }
    .col-md-4.offset-md-1.ml-auto.mr-auto.product-review-column {
        display: flex;
        justify-content: center;
    }
    .choose-oil-image {
        padding-top: 35px;
        text-align: left !important;
    }
    .row2, .row4 {
        flex-direction: column-reverse;
    }
    .spacer60 {
        padding: 20px;
    }
    .choose-oil-column .customize-btn a {
        font-size: 13px;
        line-height: 30px;
        padding: 0 16px;
        margin-top: 10px;
    }
    .choose-oil .title h1::before,
    .choose-oil .title h1::after {
        display: none;
    }
    .choose-oil-column .choose-oil-content h3 {
        font-size: 20px;
    }
    .choose-oil-column .choose-oil-content p, 
    .choose-oil-column .choose-oil-content h3 {
        margin-bottom: 7px;
    }
    .satisfaction-customer {
        font-size: 10.4px;
        padding-left: 0;
        padding-right: 0;
    }
    .satisfaction-customer {
        padding-top: 35px;
    }
    .mobile-nav-logo a img {
        width: 50px;
    }
    .site-footer-column {
        justify-content: flex-start !important;
        padding-bottom: 25px;
    }
    .site-footer-column:last-child {
        padding-bottom: 0;
    }
    .site-footer .site-footer-column .inner-footer-1 img {
        width: 185px;
    }
    .site-footer .site-footer-column .inner-footer-1 p {
        font-size: 12px;
    }
    .site-footer .site-footer-column .inner-footer-1 .nav {
        margin-top: 5px;
    }
    .site-footer .site-footer-column .inner-footer-2 h3, 
    .site-footer .site-footer-column .inner-footer-3 h3, 
    .site-footer .site-footer-column .inner-footer-4 h3 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .site-footer .site-footer-column .inner-footer-2 p {
        font-size: 12px;
        line-height: 1.5;
    }
    .site-footer .site-footer-column .inner-footer-3 .nav li a {
        font-size: 12px;
        padding-bottom: 5px;
    }
    .site-footer .site-footer-column .inner-footer-4 p {
        font-size: 12px;
        padding-bottom: 8px;
    }
    .site-footer .site-footer-column .copyrights p {
        margin-top: 15px;
        font-size: 12px;
    }
    .site-footer {
        padding: 50px 0 30px;
    }
     /* **************************** */
    /* **************************** */
    /* *******Build Your Own******* */
    /* **************************** */
    /* **************************** */
    .creation-1 .creation-1-column .choose-oil .quiz-text h1,
    .product-creation .product-creation-column .choose-flowers .quiz-text h1,
    .creation-3-column .last-stage .quiz-text h1 {
        font-size: 27px;
    }
    .creation-1 .title h1,
    .product-creation .title h1,
    .creation-3 .title h1 {
        font-size: 32px;
    }
    .creation-1 .title h1::before,
    .creation-1 .title h1::after,
    .product-creation .title h1::before,
    .product-creation .title h1::after,
    .creation-3 .title h1::before,
    .creation-3 .title h1::after {
        display: none;
    }
    .creation-1 {
        padding: 35px 0 15px;
    }
    .creation-1 .creation-1-column .choose-oil {
        padding: 45px 0 0;
    }
    .choose-oil .oil input[type=radio] + label {
        width: 115px;
        height: 115px;
    }
    .choose-oil .oil input[type=radio] + label>img {
        margin: 33px auto;
        width: 35px;
    }
    .creation-1 .creation-1-column .choose-oil .oil {
        padding: 40px 0 15px;
    }
    .creation-1 .creation-1-column .choose-oil .oil .nav li label h5 {
        padding-top: 20px;
        font-size: 15px;
    }
    .creation-1 .creation-1-column .choose-oil .oil .nav {
        justify-content: space-around;
    }
    .product-creation {
        padding: 50px 0;
    }
    .product-creation .product-creation-column .choose-flowers {
        padding: 40px 0 0;
    }
    .flowers .flower-container .nav-item label .custome-images {
        width: 85px;
    }
    .flowers .flower-container .nav-item label p {
        padding: 0;
    }
    .flowers input[type=checkbox] + label {
        padding: 0;
        width: 130px;
        height: 125px;
    }
    .flowers .flower-container .nav-item > p br {
        display: none;
    }
    .flowers .flower-container .nav-item > p {
        font-size: 12px;
        line-height: 1.4;
    }
    .flowers .flower-container .nav-item {
        width: 145px;
    }
    .product-creation-column .next-page {
        padding-top: 30px;
    }
    .product-creation-column .flowers {
        padding: 40px 0 0;
    }
    .creation-3 {
        padding: 55px 0;
    }
    .customize-oill {
        padding-top: 30px;
    }
    .creation-3-column .last-stage .size {
        padding: 30px 0 0;
    }
    .last-stage .size .nav .frequency-item {
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .last-stage .size .nav .frequency-item:nth-child(2),
    .last-stage .size .nav .frequency-item:nth-child(4) {
        margin-right: 0;
    }
    .last-stage .size .nav .frequency-item:nth-child(3),
    .last-stage .size .nav .frequency-item:nth-child(4) {
        margin-bottom: 0;
    }
    .last-stage .size .nav .frequency-item label {
        padding: 8px 13px !important;
    }
    .size .frequency-item label p {
        font-size: 14px;
    }
    .creation-3-column .last-stage .quiz-text h3 {
        font-size: 18px;
    }
    .customize-oill .last-stage .added-product {
        margin-top: 30px;
        display: block !important;
    }
    .customize-oill .last-stage .added-product .product {
        min-width: 100%;
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-right: 0;
        margin-bottom: 25px;
        display: block;
    }
    .customize-oill .last-stage .added-product .product:last-child {
        margin-bottom: 0;
    }
    .customize-oill .last-stage .added-product .product .image {
        width: 100%;
    }
    .customize-oill .last-stage .added-product .product .image img {
        width: 100%;
    }
    .creation-3-column.customize-oill .last-stage .added-product .product .image h3 {
        text-align: left;
    }
    .creation-3-column.customize-oill .last-stage .added-product .product .detail {
        margin-bottom: 0;
        padding-top: 15px;
    }
    .creation-3-column .next-button {
        padding-top: 20px;
    }
    .creation-3-column .last-stage .size input[type=radio] + label>img {
        width: 20px;
    }
    .creation-3-column .last-stage .size .nav li label .inner-container h6 {
        font-size: 28px;
    }
    .creation-3-column .last-stage .size .nav li label .inner-container p {
        font-size: 14px;
    }
    .creation-3-column .last-stage .size .nav .size-item:first-child {
        margin-right: 8px;
    }
    .creation-3-column .last-stage .size .nav .size-item:last-child {
        margin-left: 8px;
    }
    .creation-3-column .last-stage .added-product .product .detail p {
        font-size: 14px;
    }
    .creation-3-column .last-stage .added-product .product .detail a {
        margin-top: 12px;
    }
    /* *********************** */
    /* *********************** */
    /* *******Cart Page******* */
    /* *********************** */
    /* *********************** */
    .shopping-cart {
        padding: 7vh 0;
    }
    .shopping-cart-column .cart-details .inner-col-2 div > img {
        height: 208px;
    }
    .shopping-cart-column.sticky-top .order-summary .inner-column-summary h2 {
        font-size: 28px;
    }   
    .shopping-cart-column .inner-column-total,
    .shopping-cart-column .order-summary .inner-column-summary {
        padding: 20px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > span {
        margin-left: 0;
        font-size: 12px;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a {
        margin-left: 5px;
        padding: 0;
    }
    .shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > img {
        width: 40px;
    }
    .shopping-cart-column .next-button button {
        padding: 8px 30px;
        font-size: 13px;
    }
    .shopping-cart-column .cart-details {
        padding: 25px 10px;
        justify-content: space-between;
        align-items: center;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product {
        padding: 20px 15px;
        display: block !important;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product .detail p {
        font-size: 14px;
    }
    .auto-generated-product .product .image {
        width: 100%;
    }
    .auto-generated-product .product .detail {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .product .detail a {
        margin-top: 10px;
        font-size: 12px;
    }
    .shopping-cart-column {
        padding-bottom: 0;
        padding-top: 10px;
    }
    .shopping-cart-column .cart-details .inner-col-2 .text-center {
        margin-top: 52px;
    }
    .shopping-cart-column .order-summary {
        margin-top: 0;
    }
    .creation-3-column .last-stage .added-product .product .image h3 {
        text-align: left;
    }
    .shopping-cart .title h2 {
        font-size: 33px;
    }
    .shopping-cart-column .account-login p {
        font-size: 14px;
    }
    .shopping-cart-column .cart-details .inner-col-2 {
        align-items: flex-end;
    }
    .shopping-cart .creation-3-column .last-stage .added-product .auto-generated-product:last-child {
        margin-top: 0.6rem;
    }
    .checkout-area .content-box .content .form-control#shipop {
        margin-bottom: 10px;
    }
    /* *********************** */
    /* *********************** */
    /* *******Shop Page******* */
    /* *********************** */
    /* *********************** */
    .shop-page {
        padding: 65px 0 35px;
    }
    .spacer {
        padding: 15px;
    }
    .creation-3-column .last-stage .added-product .product .detail.product-end {
        padding-top: 5px;
    }
    .login-form-column .inner-container-login {
        padding: 40px 15px;
    }
    /* ************************ */
    /* ************************ */
    /* *******About Page******* */
    /* ************************ */
    /* ************************ */
    .heading {
        font-size: 34px;
        padding-bottom: 0;
    }
    .text_about_us {
        font-size: 13px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading h1 {
        font-size: 34px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading img {
        display: none;
    }
    .blog-banner-column .inner-column  {
        width: 100%;
        margin-left: 0;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li a {
        font-size: 13px;
        color: #fff;
        padding-top: 0;
        padding-bottom: 0;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a::before {
        top: -3px;
    }
    .about-tiles {
        padding: 45px 0px;
    }
    .About_Banner .col-md-6 {
        display: none;
    }
    .tiles .tile_para1:nth-child(1) {
        padding-top: 0;
    }
    .about-tiles .col-lg-4.section_col .pt-5.text-center {
        padding-top: 25px !important;
        padding-bottom: 25px;
    }
    .About_Banner {
        min-height: 150px;
    }
    .About_Banner .col-md-5.offset-md-1.d-flex.flex-column.justify-content-center.align-items-start {
        padding: 45px 15px;
    }
    .about-tiles .col_pad .tiles {
        padding: 0;
    }
    .about-tiles .col_pad {
        padding: 0 15px;
    }
    .tile_para1 {
        font-size: 12px;
    }
    .blog-post {
        padding: 60px 0;
    }
    .blog-banner .col-md-7.blog-banner-column {
        display: none;
    }
    .blog-post .blog-post-column .inner-column .blog-bottom-section::before {
        right: 48%;
    }
    .blog-banner .container {
        height: 138px;
    }
    .blog-banner {
        min-height: 138px;
    }
    .blog-banner .col-md-5.m-auto.blog-banner-column.d-flex.justify-content-center.align-items-center {
        padding: 37px 15px;
    }
    .blog-banner .blog-banner-column .inner-column .blog-heading .nav {
        margin-top: 5px;
    }
    .blog-post .col-md-4.blog-post-column {
        margin-bottom: 20px;
    }
    .blog-post .blog-post-column .inner-column {
        padding: 16px;
    }
    .blog-post .blog-post-column .inner-column .blog-bottom-section a,
    .blog-post .blog-post-column .inner-column .blog-bottom-section p {
        font-size: 13px;
    }
    .blog-post .blog-post-column .inner-column .blog-upper-section .blog-title p {
        font-size: 13px;
    }
    .blog-post .blog-post-column .inner-column .blog-upper-section .blog-title h5 {
        font-size: 18px;
    }
    .contact-form {
        padding: 45px 0;
    }
    .contact-form .contact-form-column .title h1 {
        font-size: 34px;
    }
    .col-md-12.contact-form-column.pt-5 {
        padding-top: 1.6rem!important;
    }
    .contact-form-column .contact_form .submit-btn a {
        font-size: 12px;
    }
    .contact-form .contact-form-column .title img {
        width: 80px;
    }
}