@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap');

html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    overflow-x: hidden !important;
}
h1,h2,h3 {
    font-family: 'El Messiri', sans-serif;
    margin: 0;
}
p, a, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin: 0;
}
/* ******************* */
/* ******************* */
/****** preloader ******/
/* ******************* */
/* ******************* */
.preloader {
    background-color: #ffffff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 9999999;
}
.preloader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/* **************** */
/* **************** */
/****** Header ******/
/* **************** */
/* **************** */

.top-header {
    padding: 7px 20px;
    background: #F1c62a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s ease-out;
}
.top-header p {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.top-header a {
    font-size: 12px;
    color: #000;
    font-weight: 600;
}
.main-header .navigation-column .nav {
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.main-header .navigation-column .nav li a {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: .5rem 1.7rem;
}
.main-header .navigation-column .nav li a img {
    width: 90px;
}
.bg-white {
    background: #fff;
    padding-top: 13px;
}
.golden-bg {
    background: #e7c949;
    padding-top: 10px;
}
.main-header {
    box-shadow: 0 3px 15px 1px #0000000f;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #fffffff5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    text-align:center;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.4s;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 70px;
    color: #e7c949;
    margin-left: 0;
}
.breadcrumb-navs {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.breadcrumb-navs svg {
    width: 45px;
}
.breadcrumb-navs svg g rect {
    fill: #e7c949;
}
.mobile-nav-logo a img {
    width: 60px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.main-header .navigation-column #mySidenav .nav {
    flex-direction: column;
    height: 100%;
}
#mySidenav .site-logo-mob {
    position: absolute;
    top: 15px;
    left: 25px;
}
#mySidenav .site-logo-mob img {
    width: 90px;
}
.main-header .navigation-column #mySidenav .nav li a {
    text-transform: uppercase;
    color: #000;
    font-size: 29px;
    font-weight: 700;
    padding: 1rem 0;
}
/* **************** */
/* **************** */
/****** Slider ******/
/* **************** */
/* **************** */

.slider {
    margin-top: -115px;
}
.slider .image-wrapper {
    position: relative;
}
.slider .image-wrapper .caro-container .text-cont {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(0%, -50%);
    z-index: 99;
    width: 34%;
}
.slider .image-wrapper .caro-container .text-cont .text-cont-heading {
    width: 100%;
    text-align: center;
}
.slider .image-wrapper .caro-container .text-cont .text-cont-heading h1 {
    font-size: 55px;
    line-height: 1;
}
.slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn {
    margin-top: 15px;
}
.slider .image-wrapper .caro-container .text-cont .text-cont-heading .text-btn a {
    padding: 10px 25px;
    color: #000;
    font-size: 14px;
    background: #F1c62a;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.prev1.slick-arrow, .next1.slick-arrow {
    display: none !important;
}

/* *********************** */
/* *********************** */
/****** Customize Oil ******/
/* *********************** */
/* *********************** */

.customization {
    padding: 70px 0 100px;
}
.customization .title h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    position: relative;
    cursor: default;
}
.customization .title h1::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    right: 73.5%;
    transition: width 400ms linear;
}
.customization .title h1::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    left: 73.5%;
    transition: width 400ms linear;
}
.customization .title h1:hover::before,
.customization .title h1:hover::after {
    width: 0px;
    transition: width 400ms linear;
}
.customization .title p {
    color: #666666;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}
.padTop {
    padding-top: 70px;
}
.customization-column .hair-img img {
    width: 400px;
}
.customization-column .description h1 {
    line-height: 1;
    font-size: 44px;
}
.customization-column .description p {
    font-size: 15px;
    color: #999999;
    line-height: 1;
    font-weight: 500;
}
.customization-column .description .inner-description {
    margin: 30px 0 5px;
}
.customization-column .description .inner-description h3 {
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1;
}
.customization-column .description .inner-description img {
    margin-top: -7px;
}
.customization-column .description .inner-description p {
    padding: 10px 0;
    line-height: 1.5;
    color: #666666;
    font-size: 13.4px;
}
.customization-column .description .product-btn {
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 15px;
    background: #F1c62a;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

/* ************************ */
/* ************************ */
/****** Product Review ******/
/* ************************ */
/* ************************ */
.product-review {
    background: url('../img/yellow-bg-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 392px;
    position: relative;
}
.product-review .product-review-column {
    height: 392px;
}
.product-review .product-review-column .flower-img {
    position: relative;

    top: -60px;

    width: 180px;
}
.product-review .product-review-column .review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-review .product-review-column .review-container a{
    color: #f1c62a;
}
.product-review .product-review-column .review-container .five-star i {
    font-size: 19px;
    color: #2e8e87;
}
.product-review .product-review-column .review-container h1 {
    font-size: 30px;
    margin-top: 10px;
    line-height: 1;
}
.product-review .owl-carousel.review .owl-item img {
    display: inline;
    width: 50%;
}
.product-review .product-review-column .review-container .accordion button {
    display: block;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    box-shadow: none;
}
.product-review .product-review-column .review-container .accordion .collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px 0;
    position: relative;
    margin: 10px 0;
    min-height: 150px;
}
.product-review .product-review-column .review-container .accordion .collapse::before {
    content: '';
    position: absolute;
    height: 111px;
    width: 1px;
    background: #7acec4;
    top: 21px;
    left: 28%;
}
.product-review .product-review-column .review-container .accordion .collapse .inner-1 {
    width: 30%;
    text-align: center;
}
.product-review .product-review-column .review-container .accordion .collapse .inner-1 h5 {
    font-size: 16px;
    margin-top: 5px;
}
.product-review .product-review-column .review-container .accordion .collapse .inner-1 p {
    font-size: 13px;
    color: #999;
    font-weight: 600;
}
.product-review .product-review-column .review-container .accordion .collapse .inner-2 p {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    font-style: italic;
    padding: 0 10px;
}
.product-review .product-review-column .review-container .accordion .collapse .inner-2 {
    width: 70%;
}
.product-review .product-review-column .review-container .read-more-reviews a {
    padding: 8px 35px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    background: #fff;
    text-decoration: none;
    margin-top: 8px;
}
.review.owl-theme .owl-nav.disabled+.owl-dots {
    display: none;
}

/* ************************ */
/* ************************ */
/****** How it Works ******/
/* ************************ */
/* ************************ */
.how-it-works {
    padding: 70px 0 80px;
}

.how-it-works .how-it-works-text{
        color: #666666;
    font-size: 12.3px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 20px;
}
.how-it-works .work-column .title h1 {
    font-size: 47px;
    font-weight: 600;
}

.how-it-works .work-column .title h1::before {
   content: '';
   position: absolute;
   width: 250px;
   height: 2px;
   background: #e7c949;
   top: 15%;
   right: 64%;
   transition:
   width 400ms linear;
}

.how-it-works .work-column .title h1::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 15%;
    left: 64%;
    transition: width 400ms linear;
}


.how-it-works .work-column .title h1:hover::before, .how-it-works .work-column .title h1:hover::after{
    width: 0px;
    transition: width 400ms linear;
}

.how-it-works .work-column .title img {
    width: 140px;
    /*margin-top: -5px;*/
    padding: 15px 0;
}
.how-it-works .work-column.working-slider .item .inner-container .working-detail {
    margin-bottom: 40px;
    padding: 55px 25px;
        height: 420px;
}
.how-it-works .work-column.working-slider .item .inner-container .working-detail h5 {
    font-size: 28px;
    font-weight: 800;
    border: 1px solid #626262;
    padding: 9px;
    color: #626262;
    border-radius: 65px;
    width: 55px;
    height: 55px;
}
.how-it-works .work-column.working-slider .item .inner-container .working-detail h2 {
    font-size: 26px;
    padding: 10px 20px;
    color: #626262;
}
.how-it-works .work-column.working-slider .item .inner-container .working-detail p {
    font-size: 13px;
    color: #666666;
}
.how-it-works .work-column.working-slider .item .inner-container .working-btn a {
    display: inline-block;
    background: #e7c949;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    padding: 6px 40px;
    font-weight: 600;
}
.how-it-works .work-column.working-slider .item .working-detail {
    background: url('../img/working-oil.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    box-shadow: 0px 0px 43px 6px #d4d4d4;
    transition: background 1s cubic-bezier(0.23, 1, 0.320, 1);
}
.how-it-works .work-column.working-slider .item .inner-container .working-detail h5 {
    border: 2px solid #000;
    color: #000;
}
.how-it-works .work-column.working-slider .item .inner-container .working-detail h2,
.how-it-works .work-column.working-slider .item .inner-container .working-detail p {
    color: #000;
    font-weight: 600;
} 

/* *************************** */
/* *************************** */
/****** Clear Ingredients ******/
/* *************************** */
/* *************************** */

.clear-ingredients {
    /*padding: 30px 0;*/
    /*background: #ffb2ac;*/
}
.clear-ingredients .clear-ingredients-column .inner-description h1 {
    font-size: 46px;
    line-height: 1;
    font-weight: 600;
}
.clear-ingredients .clear-ingredients-column .inner-description p {
    color: #666666;
    font-size: 14px;
    padding: 10px 32px;
    font-weight: 500;
}
.clear-ingredients .clear-ingredients-column .brands img {
    width: 270px;
}

/* ***************************** */
/* ***************************** */
/*********** Our Blogs ***********/
/* ***************************** */
/* ***************************** */
.our-blogs {
    padding: 70px 0;
}
.our-blogs .our-blogs-column .title h1 {
    font-size: 47px;
    font-weight: 600;
}
.our-blogs .our-blogs-column .title img {
    width: 140px;
}
.our-blogs .our-blogs-column .item {
    padding-bottom: 20px;
}
.our-blogs .our-blogs-column .item .blog-writing {
    background: #f7f7f7;
    padding: 15px 20px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.our-blogs .our-blogs-column .item .blog-writing p {
    font-size: 15px;
    color: #666666;
    font-weight: 600;
    font-style: italic;
}
.our-blogs .our-blogs-column .item .blog-writing a {
    font-size: 14px;
    color: #a9a9a9;
    font-weight: 600;
    text-decoration: none;
}
.our-blogs .our-blogs-column .owl-item.active.center .item .blog-writing {
    background: #fff5cc;
    box-shadow: 0px 5px 10px 7px #f5f5f5;
}
.blogs-slider.owl-theme .owl-dots .owl-dot.active span {
    background: #e7c949;
}
.blogs-slider.owl-theme .owl-nav {
    display: none;
}
.blogs-slider.owl-theme .owl-dots {
    margin-top: 20px;
}

/* ********************************** */
/* ********************************** */
/*********** Discount Offer ***********/
/* ********************************** */
/* ********************************** */

.discount-offer {
    background: url('../img/orange-oil.png');
    background-color: #ffb900;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 30% 0px;
    max-width: 100%;
    height: 317px;
}
.discount-offer .discount-offer-column .inner-column {
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
.discount-offer .discount-offer-column .inner-column .text h3 {
    font-family: 'Elsie', cursive;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1;
} 
.discount-offer .discount-offer-column .inner-column .text h1 {
    font-family: 'Elsie', cursive;
    font-size: 70px;
    line-height: 1;
    letter-spacing: -3px;
}
.discount-offer .discount-offer-column .inner-column .text h1 span {
    font-size: 30px;
    font-weight: 100;
    margin-left: -10px;
}
.discount-offer .discount-offer-column .inner-column .text h2 {
    text-transform: uppercase;
    font-size: 53px;
    font-weight: 100;
    line-height: 1;
}
.discount-offer .discount-offer-column .inner-column a {
    color: #333333;
    border: 1px solid #333333;
    padding: 5px 25px;
    text-decoration: none;
}

/* ********************************** */
/* ********************************** */
/*********** Instagram Feed ***********/
/* ********************************** */
/* ********************************** */
.instagram-feed {
    /* margin-top: 90px; */
}

/* ************************** */
/* ************************** */
/*********** Footer ***********/
/* ************************** */
/* ************************** */
.site-footer {
    padding: 60px 0 40px;
    background: #fef9e6;
}

.site-footer a{
   color: #666666;
}
.site-footer .site-footer-column .inner-footer-1 p {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    padding-top: 5px;
}
.site-footer .site-footer-column .inner-footer-1 .nav {
    margin-top: 20px;
}
.site-footer .site-footer-column .inner-footer-1 .nav li:nth-child(1) a {
    padding-left: 0;
    color: #F1c62a;
}
.site-footer .site-footer-column .inner-footer-1 .nav li:nth-child(2) a {
    /*padding-left: 0;*/
    color: #F1c62a;
}
.site-footer .site-footer-column .inner-footer-1 .nav li a {
    color: #cccccc;
    padding: 0.5rem 0.8rem;
}
.site-footer .site-footer-column .inner-footer-2 h3,
.site-footer .site-footer-column .inner-footer-3 h3,
.site-footer .site-footer-column .inner-footer-4 h3 {
    color: #333333;
    font-weight: 600;
    margin-bottom: 25px;
}
.site-footer .site-footer-column .inner-footer-2 p {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    line-height: 2;
}
.site-footer .site-footer-column .inner-footer-3 .nav li a {
    padding: 0;
    font-size: 14px;
    padding-bottom: 8px;
    color: #666666;
    font-weight: 500;
}
.site-footer .site-footer-column .inner-footer-4 p {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
    padding-bottom: 13px;
}
.site-footer .site-footer-column .inner-footer-4 input {
    border: transparent;
    background: transparent;
    border-bottom: 1px solid #666666;
    width: 100%;
    outline: 0;
}
.site-footer .site-footer-column .copyrights p {
    margin-top: 26px;
    font-size: 14px;
    color: #666666;
    font-weight: 500;
}

/* ****************************** */
/* ****************************** */
/*********** Google Map ***********/
/* ****************************** */
/* ****************************** */
.google-map {
    height: 400px;
}

/* ******************************** */
/* ******************************** */
/*********** Contact Form ***********/
/* ******************************** */
/* ******************************** */
.contact-form {
    padding: 100px 0 70px;
}
.contact-form .contact-form-column .title h1 {
    font-size: 47px;
    font-weight: 600;
}
.contact-form .contact-form-column .title img {
    width: 100px;
}
.contact-form .contact-form-column .inner-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contact-form .contact-form-column .inner-column h4 {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-form .contact-form-column .inner-column p {
    font-size: 14px;
    color: #666666;
    padding-right: 41px;
    padding-bottom: 20px;
}
.contact-form .contact-form-column .inner-column p:last-child {
    padding-bottom: 0;
}
.contact-form .contact-form-column .social-icon {
    margin-top: 30px;
}
.contact-form .contact-form-column .social-icon .nav li:first-child a {
    padding-left: 0;
}
.contact-form .contact-form-column .social-icon .nav li a {
    color: #cccccc;
}
.contact_form .md-form .form-control {
    border: 2px solid #e6e6e6;
    border-radius: 0;
    color: #999999;
    font-size: 14px;
}
.contact_form .md-form .form-control:focus {
    border-color: #e6e6e6;
    box-shadow: none;
}
.contact_form .md-form .form-control::placeholder {
    color: #999999;
}
.contact-form-column .contact_form .submit-btn {
    margin-top: 18px;
}
.contact-form-column .contact_form .submit-btn a {
    display: inline-block;
    background: #F1c62a;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 35px;
    font-size: 14px;
    text-decoration: none;
}

/* **************************** */
/* **************************** */
/*********** About US ***********/
/* **************************** */
/* **************************** */
.About_Banner{
    background-image:url("../img/top-banner.png");
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    min-height: 253px;
}
.img1{
    width: 221px;
}
.heading{
    font-family: 'El Messiri', sans-serif;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 40px;
}
.text_about_us {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 500;
}
.text_about_us .active {
    color: #333333;
    font-weight: 600;
}
.text_about_us:hover {
    color: #fff;
    text-decoration: none;
}
.about-tiles, .terms-page, .privacy-page{
    padding:100px 0px ;
}


.about-tiles .col_pad {
    padding: 0 50px;
}

.privacy .tiles li>a, .privacy .tiles small>a {
    color: #e3bc61;
}

.privacy .tiles li::marker {
    color: #e3bc61;
}

.tile_head{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
}
.tile_para{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight:normal;
    text-align: right;
    padding-top: 20px;
}
.zigzag{
    padding-top: 10px ;
    display: table;
    margin: 0 0 0 auto;
}
.tiles{
    padding: 0px 40px;
}
.tile_head1{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
.tile_para1{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight:normal;
    text-align: left;
    padding-top: 20px;
}
.zigzag1{
    padding-top: 10px ;
    display: table;
    margin: auto 0 0 0;
}
.col_pad {
    padding: 25px 50px;
}
.video_progress{
    width: 100%;
    background-color: #fafafa;
}
.progress_head{
    text-align: right;
    font-family: 'El Messiri', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 0px;
}
.progress_div{
    padding: 50px 50px;
}
.zigzag2{
    padding: 0px;
    display: table;
    margin: auto 0 0 0;
}
.progress-bar{
    background-color: #F1c62a;
}
.progress_text{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: left;
}
.progress_text1{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: right;
}
.prgress1{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}
.progress{
    height: 8px;
}

/* *********************************** */
/* *********************************** */
/************* Blogs Banner ************/
/* *********************************** */
/* *********************************** */
.blog-banner {
    background: url('../img/top-banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
    min-height: 253px;
}
.blog-banner .container {
    height: 253px;
}
.blog-banner .blog-banner-column .inner-column .blog-heading h1 {
    font-size: 45px;
    text-transform: capitalize;
}
.blog-banner .blog-banner-column .inner-column .blog-heading img {
    margin-top: -15px;
}
.blog-banner .blog-banner-column .inner-column .blog-heading .nav {
    margin-top: 10px;
}
.blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a {
    padding-left: 0;
    position: relative;
}
.blog-banner .blog-banner-column .inner-column .blog-heading .nav li:first-child a::before {
    content: "/";
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 18px;
}
.blog-banner .blog-banner-column .inner-column .blog-heading .nav li a {
    font-size: 14px;
    color: #999999;
    font-weight: 500;
}
.blog-banner .blog-banner-column .inner-column .blog-heading .nav li a.active {
    padding-left: 6px;
    color: #333333;
    font-weight: 600;
}
.blog-banner .blog-banner-column .dropper-bg {
    background: url('../img/blog-bg-oil.png');
    background-repeat: no-repeat;
    background-size: 50.8%;
    background-position: 50px -68px;
    max-width: 100%;
    min-height: 252px;
}

/* ********************************* */
/* ********************************* */
/************* Blogs Post ************/
/* ********************************* */
/* ********************************* */
.blog-post {
    padding: 100px 0;
}
.blog-post .blog-post-column .inner-column {
    padding: 20px;
    border: 1px solid #e6e6e6;
}
.blog-post .blog-post-column .inner-column .blog-upper-section .featured-image {
    width: 100%;
    height: 300px;
}
.blog-post .blog-post-column .inner-column .blog-upper-section .blog-title {
    padding: 25px 0;
}
.blog-post .blog-post-column .inner-column .blog-upper-section .blog-title h5 {
    font-size: 19px;
    color: #333333;
    font-weight: bolder;
}
.blog-post .blog-post-column .inner-column .blog-upper-section .blog-title img {
    margin-top: -5px;
    width: 54px;
}
.blog-post .blog-post-column .inner-column .blog-upper-section .blog-title p {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
    padding: 15px 0px 0px;
}
.blog-post .blog-post-column .inner-column .blog-bottom-section {
    width: 100%;
    justify-content: space-evenly;
    padding: 15px 0 0;
    border-top: 1px solid #e6e6e6;
    position: relative;
}
.blog-post .blog-post-column .inner-column .blog-bottom-section::before {
    content: " ";
    position: absolute;
    bottom: 0;
    /*right: 37%;*/
    height: 18.5px;
    width: 2px;
    background: #e6e6e6;
}
.blog-post .blog-post-column .inner-column .blog-bottom-section p {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
}
.blog-post .blog-post-column .inner-column .blog-bottom-section a {
    font-size: 14px;
    color: #666666;
    font-weight: 500;
}
.blog-post .pagination-col .pagination li a {
    color: #999999;
    font-size: 15px; 
    padding: 8px 16px;
    font-weight: 500;
}
.blog-post .pagination-col .pagination li.active {
    text-decoration: underline;
    color: #333;
    padding: 0 16px;
    margin-bottom: 3px;
}
.blog-post .pagination .nav li a span {
    font-size: 13px;
}

/* *********************************** */
/* *********************************** */
/************* Testimonials ************/
/* *********************************** */
/* *********************************** */
.testimonial {
    padding: 100px 0;
}
.testimonial .testimonials .inner-column .clients {
    width: auto !important;
}
.testimonial .testimonials .inner-column h3 {
    font-size: 28px;
    color: #333333;
    padding: 20px 0 0;
    line-height: 1;
}
.testimonial .testimonials .inner-column .five-star {
    padding: 25px 0;
}
.testimonial .testimonials .inner-column .five-star i {
    color: #F1c62a;
    font-size: 18px;
}
.testimonial .testimonials .inner-column p {
    font-size: 14px;
    color: #666666;
    padding: 0 120px;
    line-height: 1.8;
}
.owl-theme.testimonials .owl-dots{
    margin-top: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-theme.testimonials .owl-dots .owl-dot span {
    margin: 4px;
}
.owl-theme.testimonials .owl-dots .owl-dot.active span {
    width: 15px;
    height: 15px;
    background: #F1c62a;
}
/* *************************************** */
/* *************************************** */
/************* Product Creation ************/
/* *************************************** */
/* *************************************** */
.product-creation {
    padding: 85px 0;
}
.product-creation .title h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    position: relative;
    cursor: default;
}
.product-creation .title h1::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    right: 73.5%;
    transition: width 400ms linear;
}
.product-creation .title h1::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    left: 73.5%;
    transition: width 400ms linear;
}
.product-creation .title h1:hover::before, 
.product-creation .title h1:hover::after {
    width: 0px;
    /* transition: width 400ms linear; */
}
.product-creation .title p {
    color: #666666;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}
.product-creation .product-creation-column .choose-flowers {
    padding: 70px 0 0;
}
.product-creation .product-creation-column .choose-flowers .quiz-text h1 {
    line-height: 1;
    font-size: 40px;
    font-weight: bolder;
}
.flowers .input-hidden {
    position: absolute;
    left: -9999px;
}
.flowers input[type=checkbox] + label {
    width: 160px;
    height: 160px;
    transition: 500ms all;
    margin: 0;
    cursor: pointer;
    padding: 15px 0;
}
.flowers input[type=checkbox]:checked + label {
    transform: translateY(-15px);
    border: 1px solid #e7c949
}
.flowers input[type=checkbox]:checked + label p {
    font-weight: 600;
}
.flowers .flower-container .nav-item label .custome-images {
    width: 110px;
}
.flowers .flower-container .nav-item {
    padding: 10px 10px;
    width: 180px;
}
.flowers .flower-container .nav-item > p {
    font-size: 13px;
}
.flowers .flower-container .nav-item > p a {
    color: #F1c62a;
    text-decoration: none;
}
.flowers .flower-container .nav-item label p {
    color: #666666;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 0;
}
.product-creation-column .flowers {
    padding: 40px 0 30px;
    flex-direction: column;
}
.product-creation-column .next-page {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-creation-column .next-page a, .product-creation-column .next-page button {
    padding: 6px 40px;
    text-transform: uppercase;
    background: #F1c62a;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.6;
    text-decoration: none;
    display: inline-block;
}
.flowers .flower-container .nav-item label p {
    display: flex !important;
    justify-content: center;
    align-items: center;
} 
.flowers .flower-container .nav-item label p > a {
    line-height: 0;
}
.flowers .flower-container .nav-item label p > a img {
    margin-left: 10px;
}
.extra {
    margin-top: 50px;
}
.flowers .flower-container .nav-item .read-more-btn {
    display: table;
    background: #e7c949;
    color: #fff;
    padding: 8px 14px;
    margin: 0 auto;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-top: 10px;
}
.flowers .flower-container .nav-item label p > a {
    display: contents;
    color: #e7c949;
    text-transform: capitalize;
    text-decoration: underline;
}

/* **************************** */
/* **************************** */
/************* PopUP ************/
/* **************************** */
/* **************************** */
.modal-dialog.modal-dialog-centered .modal-content .modal-body {
    background: #ffe7c1;
    padding: 1rem 1.8rem;
}
.modal-dialog.modal-dialog-centered .modal-content .modal-body button {
    color: #000;
    opacity: 1;
}
@media (min-width: 1279px) {
    .modal-dialog {
        max-width: 800px;
    }
}
.modal-dialog.modal-dialog-centered .modal-content .modal-body h1 {
    color: #796a0b;
    font-weight: 600;
    padding-bottom: 15px;
}
.modal-dialog.modal-dialog-centered .modal-content .modal-body h3 {
    color: #796a0b;
    padding: 7px 0;
    text-align: left;
}
.modal-dialog.modal-dialog-centered .modal-content .modal-body p {
    color: #656060;
    padding: 6px 0;
    text-align: justify;
}
.modal-dialog.modal-dialog-centered .modal-content {
    box-shadow: 1px 1px 27px #bfbdbdc2;
    border: none;
}


/* ********************************* */
/* ********************************* */
/************* Choose Oil ************/
/* ********************************* */
/* ********************************* */
.choose-oil  {
    padding: 80px 0;
}
.choose-oil .title h1 {
    font-size: 47px;
    font-weight: 600;
    line-height: 47px;
    position: relative;
    cursor: default;
}
.choose-oil .title p {
    font-weight: 500;
    font-size: 12.3px;
}
.choose-oil .title h1::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    right: 63.5%;
    transition: width 400ms linear;
}
.choose-oil .title h1::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    left: 63.5%;
    transition: width 400ms linear;
}
.choose-oil .title h1:hover::before, 
.choose-oil .title h1:hover::after {
    width: 0px;
    transition: width 400ms linear;
}
.choose-oil .paragraph {
    margin: 20px 0;
}
.choose-oil .paragraph p {
    font-size: 15px;
    font-weight: 500;
    font-family: 'El Messiri', sans-serif;
}
.spacer60 {
    padding: 60px;
}
.choose-oil-column .choose-oil-content p,
.choose-oil-column .choose-oil-content h3 {
    margin-bottom: 20px;
    font-family: 'El Messiri', sans-serif;
}  
.choose-oil-column .choose-oil-content p:last-child {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 500;
}
.choose-oil-column .choose-oil-content p:nth-child(1) {
    font-size: 14px;
}
.choose-oil-column .choose-oil-content h3 {
    font-weight: 600;
}
.choose-oil-column .customize-btn a {
    display: block;
    color: #fff;
    font-family: 'El Messiri', sans-serif;
    background-color: #e7c949;
    text-decoration: none;
    font-size: 20px;
    line-height: 2.2;
    padding: 0 35px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #e7c949;
    transition: 450ms ease-in;
}
.choose-oil-column .customize-btn a:hover {
    background-color: #e7c949e0;
}
.satisfaction-customer {
    padding: 50px 0 0 0;
    font-size: 12px;
    color: #000;
    line-height: 1.8;
    font-weight: 600;
    font-family: 'El Messiri', sans-serif;
}
/* *************************************** */
/* *************************************** */
/************* Creation Level 1 ************/
/* *************************************** */
/* *************************************** */
.creation-1 {
    padding: 85px 0;
}
.creation-1 .title h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    position: relative;
    cursor: default;
}
.creation-1 .title h1::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    right: 73.5%;
    transition: width 400ms linear;
}
.creation-1 .title h1::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    left: 73.5%;
    transition: width 400ms linear;
}
.creation-1 .title h1:hover::before, 
.creation-1 .title h1:hover::after {
    width: 0px;
    transition: width 400ms linear;
}
.creation-1 .title p {
    color: #666666;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}
.creation-1 .creation-1-column .choose-oil {
    padding: 70px 0 0;
}
.creation-1 .creation-1-column .choose-oil .quiz-text h1 {
    line-height: 1;
    font-size: 40px;
    font-weight: bolder;
}
.creation-1 .creation-1-column .choose-oil .quiz-text p{
        color: #666666;
    font-size: 12.3px;
    line-height: 1;
    font-weight: 500;
}
.creation-1 .creation-1-column .choose-oil .oil {
    padding: 40px 0 30px;
}
.creation-1 .creation-1-column .choose-oil .oil .nav {
    justify-content: space-evenly;
}
.creation-1 .creation-1-column .choose-oil .oil .nav li label h5 {
    font-weight: 600;
    padding-top: 30px;
    font-size: 20px;
}
.choose-oil .oil .input-hidden {
    position: absolute;
    left: -9999px;
}
.choose-oil .oil input[type=radio]:checked + label {
    background: #F1c62a;
    transition: 300ms linear;
    margin: 0;
}
.choose-oil .oil input[type=radio] + label {
    transition: 300ms linear;
    background: #fff5ca;
    width: 200px;
    height: 200px;
    border-radius: 167px;
    cursor: pointer;
}
.choose-oil .oil input[type=radio]:checked + label>h5 {
    font-weight: 900 !important;
    transition: 300ms linear;
}
.choose-oil .oil input[type=radio] + label>img {
    display: block;
    margin: 43px auto;
    width: 85px;
}
.creation-1 .creation-1-column .choose-oil .next-button {
    padding: 50px 0 10px;
}
.creation-1 .creation-1-column .choose-oil .next-button .next-btn,
.creation-1 .creation-1-column .choose-oil .next-button .build-next-btn,
.shopping-cart-column .next-button button{
    padding: 6px 40px;
    text-transform: uppercase;
    background: #F1c62a;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.6;
    text-decoration: none;
    display: inline-block;
} 
.shopping-cart .shopping-cart-column .creation-3-column .last-stage .added-product .auto-generated-product:nth-child(2) {
    margin-top: 11.2px;
}
/* *************************************** */
/* *************************************** */
/************* Creation Level 3 ************/
/* *************************************** */
/* *************************************** */
.creation-3 {
    padding: 85px 0;
}
.creation-3 .title h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    position: relative;
    cursor: default;
}
.creation-3 .title h1::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    right: 73.5%;
    transition: width 400ms linear;
}
.creation-3 .title h1::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 2px;
    background: #e7c949;
    top: 45%;
    left: 73.5%;
    transition: width 400ms linear;
}
.creation-3 .title h1:hover::after,
.creation-3 .title h1:hover::before {
    width: 0;
    transition: width 400ms linear;
}
.creation-3 .title p {
    color: #666666;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
}
.creation-3-column .last-stage .quiz-text h1 {
    line-height: 1;
    font-size: 40px;
    font-weight: bolder;
}
.creation-3-column .last-stage .size .input-hidden {
    position: absolute;
    left: -9999px;
}
.creation-3-column .last-stage .size {
    padding: 40px 0 0;
}
.creation-3-column .last-stage .size .nav .size-item:first-child {
    margin-right: 20px;
}
.creation-3-column .last-stage .size .nav .size-item:last-child {
    margin-left: 20px;
}
.creation-3-column .last-stage .size .nav li label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 25px;
    border: 1px solid #b6b6b6;
    transition: 500ms linear;
    cursor: pointer;
}
.creation-3-column .last-stage .size .nav li label .inner-container {
    margin-left: 15px;
}
.creation-3-column .last-stage .size .nav li label .inner-container h6 {
    font-size: 35px;
    color: #666;
    transition: 250ms ease-in;
}
.creation-3-column .last-stage .size .nav li label .inner-container p {
    color: #666666;
    font-size: 17px;
    font-weight: 500;
}
.creation-3-column .last-stage .size input[type=radio]:checked + label {
    border: 1px solid #e7c949;
    transition: 500ms linear;
}
.creation-3-column .last-stage .size input[type=radio]:checked + label .inner-container h6 {
    color: #e7c949;
    transition: 250ms ease-in;
}
.creation-3-column .last-stage .size input[type=radio] + label>img {
    width: 30px;
}
.last-stage .size .nav .frequency-item {
    margin-right: 20px;
}
.last-stage .size .nav .frequency-item label {
    padding: 15px 25px !important;
}
.size .frequency-item label p {
    font-size: 20px;
    font-weight: 600;
    color: #666666;
    transition: 250ms linear;
}
.creation-3-column .last-stage .size .nav .frequency-item input[type=radio]:checked + label P {
    color: #e7c949;
    transition: 250ms linear;
}
.creation-3-column .last-stage .quiz-text h3 {
    font-size: 25px;
    font-weight: 900;
    color: #000;
}
.shop-page {
    padding: 100px 0 65px;
}
.spacer {
    padding: 35px;
}
.creation-3-column .last-stage .added-product .product {
    min-height: 1px;
    padding: 20px;
    border: 1px solid transparent;
    transition: 300ms linear all;
    cursor: pointer;
}
.creation-3-column .last-stage .added-product .product:hover {
    border: 1px solid #efefef8c;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.creation-3-column .last-stage .added-product .product:nth-child(1) {
    margin-left: 0;
}
.customize-oill .last-stage .added-product {
    margin-top: 50px;
}
.customize-oill .last-stage .added-product .product {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    margin-right: 20px;
    padding-top: 45px;
    padding-bottom: 45px;
}
.customize-oill .last-stage .added-product .product {
    min-width: 520px;
}
.customize-oill .last-stage .added-product .product .image,
.auto-generated-product .product .image {
    width: 25%;
}
.customize-oill .last-stage .added-product .product ,
.auto-generated-product .product .detail  {
    width: 75%;
}
.auto-generated-product > .product {
    border: #999 1px solid !important; 
    border-radius: 5px;
}
.auto-generated-product > .product:hover {
    box-shadow: none !important; 
}
.auto-generated-product > .product .detail {
    margin-bottom: 0 !important;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.creation-3-column .last-stage .added-product .product .image h3 {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    padding-top: 8px;
}
.creation-3-column .last-stage .added-product .product .detail {
   margin-bottom: 15px;
}
.creation-3-column .last-stage .added-product .product .detail.product-end {
    margin-bottom: 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.creation-3-column .last-stage .added-product .product .product-image {
    margin-bottom: 15px;
}
.creation-3-column .last-stage .added-product .product .product-describtion {
    margin-bottom: 15px;
}
.creation-3-column .last-stage .added-product .product .product-describtion p {
    font-size: 15px;
    font-weight: 500;
}
.creation-3-column .last-stage .added-product .product .product-describtion p a {
    color: #F1c62a;
    font-size: 13px;
    text-decoration: none;
}
.creation-3-column .last-stage .added-product .product .product-image img {
    border-radius: 4px;
} 
.creation-3-column .last-stage .added-product .product .detail h3 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    line-height: 1;
}
.creation-3-column .last-stage .added-product .product .detail p {
    font-size: 16px;
    color: #000;
    font-weight: 600;
    font-family: 'El Messiri', sans-serif;
}
.creation-3-column .last-stage .added-product .product .detail a {
    background: #F1c62a;
    color: #fff;
    display: block;
    width: 35%;
    text-align: center;
    padding: 9px 0;
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
    text-decoration: none;
}
.creation-3-column .next-button {
    padding-top: 50px;
}
.creation-3-column .next-button .checkbox input {
    margin-right: 5px;
}
.creation-3-column .next-button .checkbox input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}
.creation-3-column .next-button .checkbox input[type=checkbox] {
    display: none;
}
.creation-3-column .next-button .checkbox input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    padding-left: 0.2em;
    margin-right: 0.2em;
    vertical-align: top;
    color: transparent;
    transition: .2s;
}
.creation-3-column .next-button .checkbox input[type=checkbox] + label:active:before {
    transform: scale(0);
}
.creation-3-column .next-button .checkbox input[type=checkbox]:checked + label:before {
    background-color: #e7c949;
    border-color: #e7c949;
}
.creation-3-column .next-button .checkbox input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}
.creation-3-column .next-button .checkbox input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}
.creation-3-column .next-button .checkbox label {
    margin: 0;
}
.creation-3-column .next-button .checkbox label h3 {
    font-size: 18px;
    font-weight: 900;
}
.creation-3-column .next-button .checkbox label img {
    margin-top: -7px;
}
.creation-3-column .next-button a, .creation-3-column .next-button button {
    margin-top: 25px;
    display: inline-block;
    background: #F1c62a;
    color: #fff;
    line-height: normal;
    padding: 10px 60px;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}
.customize-oill {
    padding-top: 40px;
}

/* ************************************* */
/* ************************************* */
/************* View Cart Page ************/
/* ************************************* */
/* ************************************* */
.cart-header {
    padding: 20px 0;
    background-color: #e7c949;
}
.cart-header .title h2 {
    color: #967f1e;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
}
.shopping-cart {
    padding: 15vh 0;
}
.shopping-cart .title h2 {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 35px;
    font-weight: 600;
}
.shopping-cart-column {
    padding-top: 30px;
    padding-bottom: 30px;
}
.shopping-cart-column .account-login p {
    font-size: 15px;
    color: #333;
}
.shopping-cart-column .account-login p > a {
    font-size: 16px;
    color: #e7c949;
    font-family: 'El Messiri', sans-serif;
}
.shopping-cart-column .cart-details {
    padding: 25px 15px;
    border: #999 1px solid;
    margin: 0.7rem 0;
    border-radius: 5px;
}

@media (max-width: 768px) {
.about-tiles .about-img {
    max-width: 50%;
}

.tiles{
        padding: 0px 20px;
}
}

@media (min-width: 768px) {
    .shopping-cart-column .cart-details .inner-col-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .shopping-cart-column .cart-details .inner-col-1,
    .shopping-cart-column .cart-details .inner-col-2 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding: 0 10px;
    }
    .shopping-cart-column .cart-details .inner-col-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;   
    }
}
.shopping-cart-column .cart-details .inner-col-1 .add-items {
    border-bottom: 1px solid #eee;
    margin-top: 25px;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items:first-child {
    margin-top: 0;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items:last-child {
    border: none;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li {
    position: relative;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li button {
    position: absolute;
    top: 16px;
    outline: 0;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li button > span {
    font-size: 1.2rem;
    
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a {
    margin-left: 25px;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > span{
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-left: 10px;
    text-decoration: underline;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a .price {
    float: right;
    line-height: 51px;
    text-decoration: none;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a:first-child {
    padding-left: 0;
}
.shopping-cart-column .cart-details .inner-col-1 .add-items h3 + .nav li a > img {
    width: 50px;
} 
.shopping-cart-column .cart-details .inner-col-2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.shopping-cart-column .cart-details .inner-col-2 div > img {
    height: 325px;
}
.shopping-cart-column .cart-details .inner-col-2 div > h5 {
    margin-top: 6px;
    font-weight: 600;
    font-size: 20px;
}
.shopping-cart-column .order-summary {
    border: #999 1px solid;
    border-radius: 5px;
    margin-top: 38px;
}
.shopping-cart-column .order-summary .inner-column-summary {
    background: #fafafa;
    padding: 15px;
}
.shopping-cart-column .order-summary .inner-column-summary .item-oz {
    margin-top: 20px;
}
.shopping-cart-column .order-summary .inner-column-summary .item-oz .images img {
    width: 48.75px;
    height: 60px;
}
.shopping-cart-column .order-summary .inner-column-summary .item-oz .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
}
.shopping-cart-column .order-summary .inner-column-summary .item-oz .details p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}
.shopping-cart-column .order-summary .inner-column-summary .item-oz .details p:last-child {
    float: right;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: right;
}
.shopping-cart-column .inner-column-total {
    padding: 20px 15px;
}
.shopping-cart-column .inner-column-total .pricing {
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
}
.shopping-cart-column .inner-column-total .pricing p {
    font-size: 14px;
    font-style: italic;
}
.shopping-cart-column .inner-column-total .pricing:last-child p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.shopping-cart-column .inner-column-total .pricing:last-child {
    padding: 10px 0 3px;
    border-top: 1px solid #eee;
}
.shopping-cart-column .inner-column-total .pricing h6 {
    font-weight: 600;
}
.featured-products .creation-3-column .last-stage {
    padding: 0;
    padding-bottom: 80px;
}
.cart-footer {
    padding: 15px 0;
    background-color: #fdccd1;
}
.cart-footer .title h3 {
    font-size: 16px;
    font-weight: 600;
    color: #a07176;
}
/* ********************************* */
/* ********************************* */
/************* Login Form ************/
/* ********************************* */
/* ********************************* */

.login-form {
    background: url('../img/login-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    max-width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
}
.login-form .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-form-column .inner-container-login {
    background: #fff;
    padding: 50px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px #333;
}
.login-form-column .inner-container-login h1 {
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 15px;
}
.login-form-column .inner-container-login .md-form .form-control {
    padding: 12px;
    margin-bottom: 5px;
    border: 1px solid #eee;
}
.login-form-column .inner-container-login .md-form .form-control:focus {
    box-shadow: none;
    outline: 0;
    border-color: #e7c949;
}
.login-form-column .inner-container-login .md-form ::-webkit-input-placeholder {
    color: #aaa;
}
.login-form-column .inner-container-login .forgot-remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 25px;
}
.login-form-column .inner-container-login .forgot-remember .inner-container label {
    margin: 0;
}
.login-form-column .inner-container-login .forgot-remember .inner-container p {
    font-size: 15px;
    color: #666;
    font-weight: 500;
}
.login-form-column .inner-container-login .forgot-remember .inner-container a {
    font-size: 15px;
    color: #666;
    font-weight: 500;
    text-decoration: none;
}
.login-form-column .inner-container-login .login-btn {
    display: block;
    text-align: center;
    line-height: normal;
    padding: 10px;
    background-color: #F1c62a;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    border-radius: 8px;
    text-decoration: none;
}
.login-form-column .inner-container-login .signup-social-icons {
    padding: 45px 0 0;
}
.login-form-column .inner-container-login .signup-social-icons a {
    color: #aaa;
    font-size: 15px;
    text-decoration: none;
    display: block;
    letter-spacing: .5px;
}
.login-form-column .inner-container-login .signup-social-icons .nav li {
    position: relative;
}
.login-form-column .inner-container-login .signup-social-icons .nav li::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #ddd;
    left: -155px;
    top: 50%;
}
.login-form-column .inner-container-login .signup-social-icons .nav li::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #ddd;
    right: -155px;
    top: 50%;
}
.login-form-column .inner-container-login .signup-social-icons .nav li > a {
    margin-right: 10px;
}
.login-form-column .inner-container-login .signup-social-icons .nav li:last-child > a {
    margin: 0;
}
.signup-form .login-form-column .signup-social-icons {
    padding-top: 24px;
} 
.order-complete {
    padding: 100px 0;
}
.order-complete h1 {
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
}

/*************************/
h3.blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #e7c949;
    color: e7c949;
    margin: 40px 0px
}

.img-fluid {
    /*border-radius: 15px;*/
    max-width: 100%;
    height: auto;
}

.feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image img{
    width: 80%;
}

.blog-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.creation-30 {
    padding: 55px 0;
}
/*************************/


.customization-column .description a {
    color: #f1c62a;
    text-decoration: none !important;
    /*display: block;*/
}
.customization-column .description h1, .customization-column .description .inner-description h3 {
    color: #000;
        padding: 15px 0 0 0;
}
.add-items {
    padding: 15px;
}
.add-items h3 {
    padding-bottom: 10px;
}
.add-items ul li {
    padding-bottom: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.add-items ul li strong {
    font-style: italic;
}
.add-items ul li span {
    padding-left: 5px;
}