/* 
* 
*
*
* Main StyleSheet OF Wireless Depo 
*
*     
* 
*/
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    line-height: 32px;
} 
a,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
 
/* ******************Top Header**************** */
.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 1024;
}
.top-header {
    padding: 0;
    background-color: #14407d;
}
.top-header-col .help-content a{
    color: #fff;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 11px;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.top-header-col .help-content a:nth-child(1) {
    font-size: 11px;
}
.cart-quantity{
    background: #f8831e !important;
}
.cart-move-dropdown{
    margin-top: -55px !important;
    margin-left: 100px;
    position: absolute;
}
.top-header-col .top-nav-bar .nav .nav-item a {
    text-transform: capitalize;
    padding: 2px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    position: relative;
    font-weight: 500;
    margin: 0;
}
.top-header-col .top-nav-bar .nav .nav-item a::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 18px;
    right: 0;
    top: 4px;
    background-color: #fff;
}
.top-header-col .top-nav-bar .nav .nav-item:nth-child(4) a::before{
    /* position: relative; */
}

/******************Main Navigation Header Bar with Logo*****************/

.main-header {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.col-md-10.middle-header-col {
    justify-content: space-between;
}
.main-header.scroll,
.mob-header.scroll {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.5);
}
.middle-header {
    background-color: white;
    padding: 5px 0;
    /*box-shadow: 0 1px 4px 0 rgba(0,0,0,.1); */
}
.middle-header-col .nav {
    position: relative;
    margin-left: 30px;
}
.middle-header-col .nav .nav-item a {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.middle-header-col .nav .nav-item a span {
    margin-left: 5px;
}
.middle-header-col .nav .nav-item a span .fa-chevron-down {
    font-size: medium;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.middle-header-col .nav .nav-item .dropdown-toggle::after {
    display: none !important;
}
#header-nav .search-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 999999;
}
#header-nav .search-toggle {
    position: relative;
    display: block;
    height: 18px;
    width: 18px;
}
#header-nav .search-toggle::after, 
#header-nav .search-toggle::before {
    content: '';
    position: absolute;
    display: block;
    transition: all 0.1s;
}
#header-nav .search-toggle::before {
    border: 3px solid #000;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
} 
#header-nav .search-toggle::after  {
    height: 3px;
    width: 12px;
    background: #000;
    top: 18px;
    left: 12px;
    transform: rotate(45deg);
}
#header-nav .search-toggle.active::before {
    width: 0;
    border-width: 1.5px;
    border-radius: 0;
    transform: rotate(50deg);
    top: -4px;
    left: 5px;
}
#header-nav .search-toggle.active::after {
    width: 16px;
    left: -1px;
    top: 4px;
}
#header-nav .search-input:focus {
    outline: none;
}
#header-nav .search-box {
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 100%;
    max-height: 0;
    transform: translateY(100%);
    background-color: #fff;
    transition: all 0.4s;
}
#header-nav .search-input {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    border: 0;
    background-color: transparent;
    opacity: 0;
    color: #000;
    border: 1px solid rgba(0,0,0,.05);
}
#header-nav .search-input::-webkit-input-placeholder {
    color: rgba(#000, 0.4);
}
#header-nav.show .search-box {
    max-height: 40px;
}
#header-nav.show .search-input {
    opacity: 1;
}

/* ******************Mobile Responsive Header**************** */
#mobile-nav {
    background-color: #fff;
    padding: 5px 0;
}
.mobile-nav-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}      
.sidenav a {
    text-decoration: none;
    font-size: 16px;
    color: #3d3d3d;
    display: flex;
    transition: color 550ms;
    justify-content: space-between;
    align-items: center;
}
.siderbar-content {
    margin: 0;
}
.sidenav a i {
    float: right;
}
.sidenav a:hover {
    color: #f8831e;
}     
.first-submenu {
    background: #f1f3f5;
    overflow: hidden;
    padding: 0;
}
.second-submenu {
    background: #eceef0;
    overflow: hidden;
    padding: 0;
}
.third-submenu {
    background: #e4e8ec;
    overflow: hidden;
    padding: 0;
}
.first-submenu li a {
    margin-left: 13px;
    font-size: 13.5px;
}
.second-submenu li a {
    margin-left: 20px;
    font-size: 13px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 33px;
}      
.sidenav .navbar {
    padding: 0;
}
.siderbar-content .nav-link {
    line-height: 32px;
}
#my-mob-nav .navbar .nav {
    display: block;
    width: 100%;
}
#my-mob-nav .navbar .nav .dropdown {
    padding-top: 5px;
    padding-bottom: 5px;
}
#my-mob-nav .navbar .nav li {
    display: block;
    padding: 0 10px;
    line-height: normal;
}
#my-mob-nav .navbar .nav li .arrow {
    float: right;
    padding: 8px 0;
    color: #fff;
}
#my-mob-nav .navbar .nav li .dropdown-menu {
    background-color: #111;
    color: #fff;
}
.dropdown-toggle::after {
    display: none;
}

#mobile-nav .search-button-1 {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
}
#mobile-nav .search-toggle-1 {
    position: relative;
    display: block;
    height: 18px;
    width: 18px;
}
#mobile-nav .search-toggle-1::after, 
#mobile-nav .search-toggle-1::before {
    content: '';
    position: absolute;
    display: block;
    transition: all 0.1s;
}
#mobile-nav .search-toggle-1::before {
    border: 3px solid #000;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
} 
#mobile-nav .search-toggle-1::after  {
    height: 3px;
    width: 12px;
    background: #000;
    top: 18px;
    left: 12px;
    transform: rotate(45deg);
}
#mobile-nav .search-toggle-1.active::before {
    width: 0;
    border-width: 1.5px;
    border-radius: 0;
    transform: rotate(50deg);
    top: -4px;
    left: 5px;
}
#mobile-nav .search-toggle-1.active::after {
    width: 16px;
    left: -1px;
    top: 4px;
}
#mobile-nav .search-input:focus {
    outline: none;
}
#mobile-nav .search-box {
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 100%;
    max-height: 0;
    transform: translateY(100%);
    background-color: #fff;
    transition: all 0.4s;
}
#mobile-nav .search-input {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    border: 0;
    background-color: transparent;
    opacity: 0;
    color: #000;
}
#mobile-nav .search-input::-webkit-input-placeholder {
    color: rgba(#000, 0.4);
}
#mobile-nav.show .search-box {
    max-height: 40px;
}
#mobile-nav.show .search-input {
    opacity: 1;
}
.mobile-nav-col .site-logo {
    margin: 0 auto;
}

.wishlist, .wishlist > a, .compare, .compare > a{

    color: #ffffff;

}
.wishlist:hover, .wishlist > a:hover, .compare:hover, .compare > a:hover{

    color: #f8831e;

}
/* ******************Banner Section**************** */
.hero-area {
    padding-top: 113px;
}
.banner-section {
    position: relative;
    overflow: hidden;
}
.intro-carousel .owl-controls .owl-nav {
    margin-top: 0;
}

/* ******************Feature Brand**************** */
.__featuredBrand h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bolder;
}
._featuredBrand {
    margin-bottom: 40px;
}
.__featuredBrand h1::after {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 200px;
    background-color: #f8831e;
    bottom: 32px;
    left: 15px;
}
.featuredBrand-section {
    padding: 60px 0 50px;
    background: rgb(237,237,237);
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 90%);
}
.featuredBrand-section .featuredBrand h1{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
}
.phone-and-accessories {
    background: rgb(237,237,237);
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 90%);
}
.electronics-section {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 90%);
}
/* ******************Feature Products**************** */
.featuredProduct {
    padding: 70px 0 55px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 90%);
}
.featuredProduct-col .featuredTitle {
    margin-bottom: 40px;
}
.featuredProduct-col .featuredTitle h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bolder;
}
.featuredProduct-col .featuredTitle h1::after {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 200px;
    background-color: #f8831e;
    bottom: 32px;
    left: 15px;
}
.featuredProduct-Slider {
    position: relative;
}
.featuredProduct-Slider .item {
    text-decoration: none;
}
.product-top .product-title {
    border: 1px solid #ebebeb;
    padding: 20px 0;
}
.product-top .product-title h4 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 21px;
}
.product-bottom .description {
    min-height: 68px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-bottom .description p {
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
}
.product-bottom .view-more-button a {
    background: #000;
    color: #fff;
    border-radius: unset;
    padding: 5px 35px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
}
.owl-carousel.featuredProduct-Slider .owl-nav button:focus {
    outline: none;
}
.owl-carousel.featuredProduct-Slider .owl-nav .owl-next {
    position: absolute;
    right: -47px;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0;
    background: #000;
    width: 33px;
    height: 33px;
    border-radius: 33px;
}
.owl-carousel.featuredProduct-Slider .owl-nav .owl-next span {
    font-size: 35px;
    color: #ffff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
}
.owl-carousel.featuredProduct-Slider .owl-nav .owl-prev {
    position: absolute;
    left: -47px;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0;
    background: #000;
    width: 33px;
    height: 33px;
    border-radius: 33px;
}
.owl-carousel.featuredProduct-Slider .owl-nav .owl-prev span {
    font-size: 35px;
    color: #ffff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
}
/* ******************Newest Phone Models**************** */
.newestPhone {
    padding: 40px 0;
}
.newestPhone-col .main-title h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bolder;
}
.newestPhone-col .main-title {
    margin-bottom: 40px;
}
.newestPhone-col .main-title h1::after {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 200px;
    background-color: #f8831e;
    bottom: 32px;
    left: 15px;
}
.newestPhone-col .newestPhone-image {
    padding-bottom: 25px;
    position: relative;
}
.newestPhone-col .newestPhone-image a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 255px;
    background-color: #ebebeb;
    transition: all 700ms ease-in-out;
}
.newestPhone-col .description h5{
    font-weight: 500;
    font-size: 18px;
    color: #404241;
    padding-top: 20px;
}
.pad-top {
    padding-top: 30px;
}

/* ******************Popular Mobile Phones Models**************** */
.popularPhone {
    padding: 40px 0;
}
.popularPhone-col .title {
    margin-bottom: 40px;
}
.popularPhone-col .title h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bolder;
}
.popularPhone-col .title h2::after {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 200px;
    background-color: #f8831e;
    bottom: 34px;
    left: 15px;
}
.popularPhone-col .popular-detail {
    padding: 0 5px;
}
.popularPhone-col .popular-detail a img {
    margin-bottom: 20px;
}
.popularPhone-col .popular-detail h5 {
    font-weight: 800;
    font-size: 18px;
    color: #404241;
}
/* ******************Product Section**************** */
.product {
    background: rgb(237,237,237);
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(255,255,255,1) 50%);
    padding: 35px 0;
}
.product .product00 .product-col {
    position: relative;
}
.product .product00 .nav {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    justify-content: space-evenly;
    border: transparent;
}
.product .product00 .nav::after {
    content: ' ';
    border-bottom: 1px solid #ddd;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}
.product .product00 .nav li {
    display: inline-block;
}
.product .product00 .nav li a {
    display: block;
    font-size: 18px;
    color: #808080;
    text-decoration: none;
    padding: 5px 10px;
    border-color: transparent;
} 
.product .product00 .nav li a.active {
    font-weight: 600;
    color: #fff;
    background: #ff7743;
    position: relative;
}
.product .product00 li a.active::before {
    content: ' ';
    height: 4px;
    width: 10px;
    display: block;
    position: absolute;
    bottom: -9px;
    padding-top: 5px;
    left: 50%;
    border-radius: 0 0 10px 10px;
    transform: translateX(-50%);
    background-color: #ff7743;
}
.product .product00 li a.active::after {
    content: ' ';
    border-bottom: 2px solid transparent;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    z-index: 1;
    border-color: #ff7743;
}
.productTab {
    padding: 20px 24px 10px;
    border: 1px solid transparent;
    position: relative;
}
 .productTab:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px 5px #eaeaea;
    cursor: pointer;
    /*position: absolute;*/
    top: 0;
    z-index: 100;
}
.productTab:hover .productTab4 {
    display: flex;
    justify-content: space-between;
}
.productTab:hover .productTab3 a {
    color: #ff7743;
}
.product .product00 .productTab::after {
    content: '';
    border-right: 1px solid #eaeaea;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    height: 80%;
    transform: translateY(-50%);
}
 .productTab0 a {
    font-size: 12px;
    color: #808080;
    text-decoration: none;
} 
.product .product00 .productTab .productTab0 a:hover {
    color: black;
}
.product .product00 .productTab .productTab1 a {
    font-size: 14px;
    color: initial;
    font-weight: 500;
    text-decoration: none;
}
.product .product00 .productTab .productTab3 {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
.productTab3 {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
.productTab3 h1 {
    padding-top: 10px;
    font-size: 20px;
    color: #ff7743;
}
.product .product00 .productTab .productTab3 h1 {
    padding-top: 10px;
    font-size: 20px;
    color: #ff7743;
}
.product .product00 .productTab .productTab3 h2 {
    font-size: 12px;
    color: #869791;
}
.productTab .productTab3 a {
    position: absolute;
    top: 17.5%;
    right: 0;
    font-size: 22px;
    color: #ededed;
    cursor: pointer;
}
.productTab4 {
    display: none;
}
.productTab > .productTab4 > a {
    font-size: 11px;
    color: #949494;
    text-decoration: none;
}
.product .product00 .productTab .productTab4 a:nth-child(2) {
    float: right;
}
.productTab4 > a:hover {
    color: black;
}
/* ********************Promotion Slider********************* */
.promoSlider {
    padding: 10px 0;
    background-color: #ebebeb;
}
.promoSlider-col {
    position: relative;
}
.promoSlider-col .promo-description h2 {
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 80px;
    padding-bottom: 30px;
}
.promoSlider-col .promo-description ul li {
    line-height: normal;
    color: #3a3737;
}
.promoSlider-col .promo-description a {
    color: #fff;
    background-color: #000;
    padding: 5px 45px;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 50px;
    text-decoration: none;
}
.promo-slide-show .owl-nav {
    margin: 0;
    text-align: right;
}
.promo-slide-show .owl-nav .owl-prev {
    display: none;
}
.promo-slide-show .owl-nav .owl-next {
    position: absolute;
    bottom: 0;
    right: 12%;
}
.promo-slide-show .owl-nav .owl-next:hover {
    background: transparent;
    color: transparent;
}
.promo-slide-show .owl-nav .owl-next:focus {
    outline: 0;
}
.promo-slide-show .owl-nav .owl-next span {
    color: transparent;
}
.promo-slide-show .owl-nav .owl-next span::before {
    content: "\2794";
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0px;
    height: 35px;
    color: #000;
    font-size: 60px;
}
/* ********************Communication About Company********************* */
.aboutCommunication {
    padding: 70px 0 50px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 90%);
}
.aboutCampany h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    line-height: normal;
    font-weight: bolder;
}
.aboutCampany p {
    padding-top: 20px;
    text-transform: capitalize;
    line-height: 27px;
    font-size: 17px;
    letter-spacing: .8px;
    color: #808080;
}
.aboutCommunication-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aboutCommunication-col .brandsLogo {
    margin:0 10px;
}
/* ********************SignUp News Letter********************* */
.newsLetter {
    padding: 40px 0;
    background: #535456;
}
.newsLetter .newsLetter-col .newsLetter-00 h1 {
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
}
.newsLetter .newsLetter-col .newsLetter-00 p {
    color: white;
    font-size: 15px;
}
.newsLetter .newsLetter-col .newsLetter-01 {
    display: flex;
}
.newsLetter .newsLetter-col .newsLetter-01 .input-group input:focus {
    outline: 0;
    box-shadow: none;
}
.newsLetter .newsLetter-col .newsLetter-01 .input-group {
    border: 1px solid white;
}
.newsLetter .newsLetter-col .newsLetter-01 .input-group .input-group-text {
    border: none;
    border-radius: 0px;
    color: white;
    background: transparent;
}
.newsLetter .newsLetter-col .newsLetter-01 .input-group input {
    border-radius: 0;
    border: none;
    background: transparent;
    color: white;
    /* padding: 10px 60px 10px 0.75rem; */
    font-size: 15px;
    width: 240px;
}
.newsLetter .newsLetter-col .newsLetter-01 a {
    display: block;
    text-decoration: none;
    margin-left: 25px;
    background: #ff7743;
    padding: 5px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

/* ********************Site Footer********************* */
.siteFooter {
    padding: 30px 0;
    background: #232323;
}
.siteFooter .siteFooter-col .footernav h1{
    font-size: 14px;
    color: #afb1b0;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid #404241;
    padding-bottom: 10px;
    font-weight: 700;
}
.siteFooter .siteFooter-col .footernav ul li {
    display: inline-block;
    line-height: normal;
}
.siteFooter .siteFooter-col .footernav ul li a {
    color: #afb1b0;
    font-size: 12px;
    padding:0;
    text-decoration: none;
    display: block;
}
.siteFooter .siteFooter-col .footernav ul li a:hover {
    text-decoration: underline;
    color: #636564;
}
.siteFooter .siteFooter-col .footernav ul li a i {
    padding-right: 5px;
}
.siteFooter .siteFooter-col .footernav a {
    display: inline-block;
}
.siteFooter .siteFooter-col .footernav a i {
    color: #afb1b0;
}
.siteFooter .siteFooter-col .footernav a i.fab {
    padding: 0px 10px;
    font-size: 22px;
}
.siteFooter .siteFooter-col .footernav a i.fab:nth-child(1) {
    padding-left: 0;
}
.siteFooter .siteFooter-col .footernav a i.fab:nth-child(4) {
    padding-right: 0;
}

/* ********************CopyRight Footer********************* */
.copyRight {
    padding: 10px 0;
    background: #ededed;
    border-top: 2px solid #a3a3a3;
}
.copyRight .copyRight-col .copyRight00 {
    display: inline-block;
}
.copyRight .copyRight-col .copyRight00 h4 {
    color: #aaa;
    font-size: 12px;
}
.copyRight .copyRight-col .copyRight01 {
    margin-left:230px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.copyRight .copyRight-col .copyRight01 i {
    font-size: 25px;
    padding-right: 5px;
}
.copyRight .copyRight-col .copyRight01 i:nth-child(7) {
    padding-right: 0;
}
.copyRight .copyRight-col .copyRight02 {
    position: absolute;
    right: 0;
}
.copyRight .copyRight-col .copyRight02 h4 {
    display: inline-flex;
    color: #aaa;
    font-size: 12px;
}
.copyRight .copyRight-col .copyRight02 a {
    display: inline-flex;
}

/* *************************************** */
/* *************************************** */
/* *************************************** */
/* Shop Page Styling */
/* *************************************** */
/* *************************************** */
/* *************************************** */
.shop-section {
    padding: 25px 0;
}
.filter-column {
    background-color: #f3f3f4;
    padding: 10px 25px;
    max-height: 2000px;
}
.pricingFilter h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
}
.sidebar_filter ul li {
    list-style: none;
}
.sidebar_filter .closebtn {
    display: none;
}
[slider] {
    width: 100%;
    position: relative;
    height: 5px;
    margin: 39px 0 10px 0;
}
[slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 5px;
}
[slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #c2c2c2;
    margin: 0 7px;
}
[slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #c2c2c2;
    margin: 0 7px;
}
[slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 14px;
    background-color: #f58321;
}
[slider] > div > [thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #f3f3f3;
    border-radius: 50%;
    outline: none;
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border: solid 3px #f58321;
}
[slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    opacity: 0;
}
div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}
div[slider] > input[type=range]:focus {
    outline: none;
}
div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}
div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}
div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}
div[slider] > input[type=range]::-ms-tooltip {
    display: none;
}
[slider] > div > [sign] {
    opacity: 0;
    position: absolute;
    margin-left: -15px;
    top: -42px;
    z-index:3;
    background-color: #f58321;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}
[slider] > div > [sign]:after {
    position: absolute;
    content: '';
    left: 2px;
    border-radius: 16px;
    top: 22px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top-width: 14px;
    border-top-style: solid;
    border-top-color: #f58321;
}
[slider] > div > [sign] > span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}
[slider]:hover > div > [sign] {
    opacity: 1;
}
.pricing-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.pricing-btn .btn {
    background: #1c417d;
    color: #fff;
    border-radius: 27px;
    padding: 6px 20px;
    font-weight: 600;
    letter-spacing: .5px;
}
.pricing-btn .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(28, 65, 125, 0.52);
}
.pricing-btn span {
    color: black;
    font-weight: bold;
}
.brandFilter h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.custom-control {
    padding-left: 40px;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(245, 131, 33, 0.72);
}
.custom-control-label {
    outline: 0;
    font-size: 14px;
}
.custom-control-label::before {
    top: 8px;
    width: 0.95rem;
    height: 0.95rem;
}
.custom-control-label::after {
    top: 7.5px;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #f37448;
}
.modelFilter h3, 
.carrierFilter h3, 
.colorFilter h3,
.typeFilter h3,
.accessorFilter h3,
.teamFilter h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px 0;
}
.shopBanner {
    background-color: #f3f3f4;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bg-image {
    width: auto;
    max-width: 100%;
    height: 260px;
}
.shopbannerTitle {
    text-align: center;
}
.shopbannerTitle h1 {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: bolder;
    color: #1c417d;
    letter-spacing: -1px;
    line-height: 0.95;
}
.shopbannerTitle h2 {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: bolder;
    color: #f37448;
    letter-spacing: -1px;
    line-height: 0.95;
}
.shopbannerTitle h3 {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: bolder;
    color: #1c417d;
    letter-spacing: -1px;
    line-height: 0.95;
}
.filterBar {
    margin: 20px 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    padding: 2px 0;
}
.filterBar .sortingFilter{
    color: #999999;
    margin: 8px;
    padding: 0 8px;
    border: 1px solid #eaeaea;
    font-weight: 600;
    cursor: not-allowed;
}
.filterBar .viewsTab {
    padding-left: 15px;
}
.filterBar .viewsTab ul li a{
    color: #999999;
    border: 1px solid #eaeaea;
    padding: 0 10px;
    margin: 0 5px;
}
.filterBar .viewsTab ul li a.active {
    color: #333;
    border: 1px solid #333;
}
.btn-group {
    padding-left: 20px;
}
.btn-group .btn-text {
    background: transparent;
    color: #ccc;
    border: 1px solid #eaeaea;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 14px;
    width: 190px;
    text-align: left;
}
.btn-group .btn-text:focus,
.btn-group  .btn-dropdown:focus {
    outline: 0;
    box-shadow: none;
}
.btn-group  .btn-dropdown {
    background-color: transparent;
    border: 1px solid #eaeaea;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-left: 15px;
}
.dropdown-toggle::after {
    color: #777;
}
.pagination {
    width: 335px;
    display: block;
    text-align: right;
    color: #999999;
    font-size: 14px;
}
.pagination a {
    color: #999999;
}
.product-row .product-col {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.product-row .product-col .productTab {
    padding: 5px;
    padding-bottom: 20px;
    border: 1px solid transparent;
    position: relative;
}
.product-row .product-col:nth-child(3) .productTab::after,
.product-row .product-col:nth-child(6) .productTab::after,
.product-row .product-col:nth-child(9) .productTab::after,
.product-row .product-col:nth-child(12) .productTab::after,
.product-row .product-col:nth-child(15) .productTab::after,
.product-row .product-col:nth-child(18) .productTab::after,
.product-row .product-col:nth-child(21) .productTab::after {
    border-right: 1px solid transparent;
}
.product-row .product-col .productTab::after {
    content: '';
    border-right: 1px solid #eaeaea;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    height: 80%;
    transform: translateY(-50%);
}
.product-row .product-col .productTab:hover {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px 5px #eaeaea;
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 5px;
    z-index: 100;
    transition: .3s ease-in-out;
}
.product-row .product-col .productTab:hover .productTab3 a {
    color: #ff7743;
    transition: .4s ease-in-out;
}
.product-row .product-col .productTab:hover .productTab4 {
    display: block;
}
.product-row .product-col .productTab .productTab0 a {
    font-size: 12px;
    color: #808080;
    text-decoration: none;
}
.product-row .product-col .productTab .productTab0 a:hover {
    color: black;
}
.product-row .product-col .productTab .productTab1 a {
    font-size: 14px;
    color: initial;
    font-weight: 700;
    text-decoration: none;
}
.product-row .product-col .productTab .productTab3 {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
.product-row .product-col .productTab .productTab3 h1 {
    padding-top: 10px;
    font-size: 20px;
    color: #ff7743;
}
.productTab3 h2 {
    font-size: 12px;
    color: #869791;
}
.product-row .product-col .productTab .productTab3 a {
    position: absolute;
    top: 17.5%;
    right: 10px;
    font-size: 22px;
    color: #ededed;
    cursor: pointer;
}
.product-row .product-col .productTab .productTab4 {
    display: none;
}
.product-row .product-col .productTab .productTab4 a:hover {
    color: black;
}
.product-row .product-col .productTab .productTab4 a:nth-child(3) {
    float: right;
}
.productlist-row .product-col {
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 10px;
}
.productlist-row .product-col .productTabIMG {
    width: 180px;
    max-width: 100%;
    height: auto;
}
.productlist-row .product-col .productTab .productTab0 a{
    font-size: 14px;
    color: #808080;
    text-decoration: none;
}
.productlist-row .product-col .productTab .productTab0 a:hover {
    color: black;
}
.productTab1 a {
    font-size: 16px;
    color: initial;
    font-weight: 500;
    text-decoration: none;
}
.productTab1 a:hover {
    text-decoration: none;
}
.productlist-row .product-col .productTab .productTab1 a {
    font-size: 16px;
    color: initial;
    font-weight: 700;
    text-decoration: none;
}
.productlist-row .product-col .productTab .productTab2 h1,
.productlist-row .product-col .productTab .productTab2 h2 {
    display: inline-block;
}
.productlist-row .product-col .productTab .productTab2 h1 {
    font-size: 20px;
    padding-top: 8px;
    color: #ff7743;
}
.productlist-row .product-col .productTab .productTab2 h2 {
    font-size: 14px;
    padding-left: 10px;
    color: #869791;
}
.productlist-row .product-col .productTab .productTab3 {
    margin-top: 10px;
}
.productlist-row .product-col .productTab .productTab3 a {
    border: 1px solid #d9d9d9;
    background: transparent;
    margin-right: 8px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    color: #555555;
    font-size: 11px;
    margin-top: 10px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* ****************Shop Detail Page******************** */
/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/
.shopDetail_title {
    padding-top: 140px;
}
.star-rating {
    font-size:1.15em;
}
.star-rating .fa-star {
    color:#f7941d;
}
.title h1 {
    font-size: 36px;
    font-weight: 600;
}
.star-rating .counter {
    color: #aaa; 
    font-size: 16px; 
    padding-left: 15px;
}
.shopDetail_product {
    padding-bottom: 45px;
}
.shopDetail_product_col .carousel .carousel-inner .carousel-item {
    text-align: center;
}
.shopDetail_product_col .carousel .carousel-inner .carousel-item a img{
    width: 100%;
    height: 500px;
    max-width: 100%;
}
.shopDetail_product_col .carousel .carousel-indicators li {
    background-color: rgb(0, 0, 0);
}
.shopDetail_product_col .carousel .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.shopDetail_product_col .carousel .carousel-indicators li.active {
    min-height: 6px;
}
.shopDetail_product_col .carousel .carousel-control-next-icon {
    background: url('./assets/img/arrow-right.png') no-repeat center center !important;
}
.shopDetail_product_col .carousel .carousel-control-prev-icon {
    background: url('./assets/img/arrow-left.png') no-repeat center center !important;
}
.shopDetail_product_col .carousel .carousel-control-next-icon,
.shopDetail_product_col .carousel .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}
.shopDetail_text .price {
    padding-bottom: 15px;
}
.shopDetail_text .price h1 {
    font-weight: 600;
    font-size: 50px;
    margin: 0;
}
.info-meta-1 ul {
    margin: 0;
}
.product-color .color-list {
    margin-bottom: 0;
}
.meta-list {
    margin-bottom: 0;
}
#addcrt {
    text-decoration: none;
}
.p-sku {
    padding: 10px 0;
}
.product-price .price {
    line-height: 1;
}
.addtocart {
    padding-top: 10px;
}
.shopDetail_text .moneyback {
    padding-bottom: 20px;
}
.shopDetail_text .color {
    padding-bottom: 15px;
}
.shopDetail_text .color p {
    font-size: 15px;
    text-transform: capitalize;
    padding-bottom: 15px;
}
.shopDetail_text .size {
    padding-bottom: 20px;
}
.shopDetail_text .add-to-cart .box-area {
    position: relative;
    transform-style: preserve-3d;
    transition: transform .4s ease-in-out;
    transform: translateZ(-60px);
    width: 200px;
    height: auto;
}
.shopDetail_text .add-to-cart .box-area:hover {
    transform: rotateX(-110deg) translateY(112px);
}
.shopDetail_text .add-to-cart .box-area .box {
    position: relative;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px 35px;
    font-weight: bolder;
}
.shopDetail_text .add-to-cart .box-area .box.side-one {
    background-color: #f37448;
    color: #fff;
    transform: translateY(0px);
    text-transform: capitalize;
    text-decoration: none;
} 
.shopDetail_text .add-to-cart .box-area .box.side-two {
    border:3px solid #f37448;
    background-color: transparent;
    transform: rotateX(90deg) translateZ(60px);
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
} 
.shopDetail_text .show-more a {
    color: #fff;
    background-color: #14407d;
    border: 1px solid #14407d;
    font-size: 20px;
    padding: 10px 40px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.shopDetail_text .show-more a:hover {
    background: #fff;
    color: #14407d;
}
.shopDetail_text .moneyback span:nth-child(1) {
    color: #fff;
    background-color: #2e3192;
    border-radius: 50px;
    padding: 3px 10px;
    margin-right: 10px;
}
.reviews-tab-col .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #636363;
}
.reviews-tab-col .nav-pills .nav-link.active {
    color: #000;
    font-weight: 600;
    border-bottom: 3px solid #282660;
    border-radius: 0;
    background-color: transparent;
}
.reviews-tab-col .nav-pills .nav-link  {
    color: #000;
    font-size: 23px;
}
.overview-container {
    padding-top: 60px;
    padding-bottom: 30px;
}
.overview-container .pr-1 {
    line-height: normal;   
} 
.overview-container .pr-1 p {
    color: #808080;
    font-size: 15px;
    padding-bottom: 30px;
}
.overview-container .pr-2 {
    padding-bottom: 30px;
}
.overview-container .pr-2 h4 {
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 30px;
}
.overview-container .pr-2 ul li {
    color: #808080;
    font-size: 15px;
}
.overview-container .pr-3 p {
    color: #808080;
    font-size: 15px;
}


.modal-content > .modal-header > .close{
    padding: 0px;
}
.full-container .nav.nav-tabs a.nav-link.active {
    color: #fff;
    font-weight: 500;
}
.breadcrumb-area .container .pages {
    margin-bottom: 0;
}
.product-img .item .name a {
    text-decoration: none;
}
.bottom-area.paystack-area-btn button:focus {
    outline: 0;
}
.unit-price, 
.quantity {
    padding-bottom: 2px;
}
.bottom-area a:hover {
    text-decoration: none;
}
.bottom-area button:focus {
    outline: 0;
}
.nav.helpful-links-inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav.helpful-links-inner .login {
    position: relative;
    padding: 0;
}
.nav.helpful-links-inner .login .sign-log::before {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 18px;
    right: 0;
    top: 4px;
    background-color: #fff;
} 
.nav.helpful-links-inner .login .sign-log .links {
    position: relative;
}
/*.nav.helpful-links-inner .login .sign-log .links .sign-in::before{*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    width: 1px;*/
/*    height: 18px;*/
/*    top: 4px;*/
/*    right: 42%;*/
/*    bottom: 0;*/
/*    background-color: #fff;*/
/*}*/
.top-header-col .top-nav-bar .nav .nav-item .wish.compare-product #compare-count {
    margin-left: -5px;
}


.core-content > .sticky-top{
    z-index: 1 ;
}

.productTab3{
    margin-bottom: 20px;
}

.productTab:hover .productTab3{
    margin-bottom: 0px;
}

.helpful-links-inner > .my-dropdown {
    z-index: 99;
}





/*shayan latest changes for navigation*/

/* New */
/* Header */
/* Mega Dropdown */
/* CSS */
.navbar .web-logo {
    width: 110px;
}
.navbar .nav-item .nav-link i {
    margin-left: 3px;
    font-size: 13px;
}
.navbar .dropdown-menu {
    border:none;
}
.navbar-brand {
    margin-right: 0;
}
.navigation .listing .list-link {
    color: #000;
    padding: 0;
    height: 55px;
    line-height: 55px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.25px;
}
.navigation .listing:hover{
    background-color: #14407d;
}
.navigation .listing:hover .list-link {
    color: #fff;
}
.navigation .listing .list-link:hover {
    color: #fff;
}
.sub-nav .sub-items {
    width: 20%;
    min-height: 235px;
    padding: 0 15px;
}
.sub-nav .sub-items .sub-link {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #000;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.sub-nav-lvl2 .sub-items-lvl2 {
    line-height: 1.9;
}
.sub-nav-lvl2 .sub-items-lvl2 .sub-link-lvl2 {
    display: block;
    font-size: 13px;
    color: #3d3d3d;
    text-decoration: none;
    text-transform: uppercase;
}
.sub-nav-lvl2 .see-all-btn {
    border: 1px solid #14407d;
    background: #14407d;
    font-size: 12px;
    color: #fff;
    width: 56%;
    text-transform: capitalize;
    margin-top: 5px;
    text-decoration: none;
    transition: background 300ms ease-in-out;
    text-align: center;
    line-height: 2;
}
.sub-nav-lvl2 .see-all-btn:hover {
    background: #fff;
    color: #14407d;
}
.sub-nav-lvl2 .sub-items-lvl2 a:hover {
    padding-left: 5px;
}
.caterogy-button a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    background: #14407d;
    border: 1px solid #14407d;
    font-size: 15px;
    text-decoration: none !important;
    transition: background 300ms ease-in-out;
    line-height: 1.9;
}
.caterogy-button a:hover {
    color: #14407d;
    background-color: #fff;
}
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    transform: translate(-50%, -50%);
    background-color: #14407d;
    border-color: #14407d;
    color: #fff;
}
#search .btn span {
    transition: padding 450ms;
}
#search .btn:hover span {
    padding-right: 12px;
}
#search .close {
    position: fixed;
    top: 20px;
    right: 35px;
    color: #fff;
    background-color: #14407d;
    border-color: #14407d;
    opacity: 1;
    font-size: 27px;
    line-height: 0;
    border-radius: 4px;
    height: 42px;
    width: 42px;
    margin-top: 0px;
    padding-bottom: 10px;
}
#search .close:focus {
    outline: none;
}
.navbar-collapse {
    padding-left: 30px;
}
.nav.navbar-nav.navbar-right li a {
    color: #3d3d3d;
    padding: 7px 12px;
    background: transparent;
    transition: background 300ms ease-in-out;
}
.nav.navbar-nav.navbar-right li a:hover {
    color: #fff;
    background: #14407d;
    border-radius: 4px;
}
.dropdown-toggle::after {
    display: none !important;
}

@media screen and (min-width: 992px) {
    .navbar {
    padding:0px !important;
    }
    .navbar .nav-item {
    padding: 0 15px;
    margin: 0;
    }
    .navbar .nav-item .nav-link {
    color: #000;
    }
    .navbar .dropdown {
        position:static;
    }
    .navbar .dropdown-menu {
    width:100%;
    left:0;
    right:0;
    top: 70px;
    margin: 0;
    padding: 25px 0;
    display:block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    border-radius: 0;
    }
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 350ms linear;
    }
    .navbar .dropdown-menu {
    background-color: #fff;
    }
}
.mregisterform .form-input select {
    border: 1px solid #ccdeec;
    width: 100%;
    background: #f3f8fc;
}
.mregisterform .form-input select:focus {
    background: #fff;    
}
.mregisterform .file-upload-area.form-input .upload-file .User.Name {
    width: 25%;
}
.mregisterform .file-upload-area.form-input .upload-file .upload {
    padding: 0;
    height: auto;
    /* background: transparent; */
    border: none;
    margin-top: 5px;
}
.dropdown-cart-products .product .product-details {
    align-self: flex-start !important;
}
.dropdown-cart-products .product .product-details .content {
    display: block;
}
.login-area .header-area {
    margin-bottom: 20px;
}
.login-area .form-input {
    margin-bottom: 25px;
}
.retailer-title {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
    color: #14407d;
    margin: 0;
}
.pad {
    padding-top: 0.7rem;
}
.login-area .header-area .title {
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    color: #3d3d3d;
    text-align: left;
    letter-spacing: 0.09em;
    margin: 0;
}
.productTab1 {
    line-height: normal;
}
.popular-detail a:nth-child(2) {
    text-decoration: none;
}
.popular-detail a h5 {
    margin: 0;
    color: #000;
    text-transform: capitalize;
    padding-top: 10px;
    font-weight: 500;
}
.__product-top .product-image a img {
    border: 1px solid #ebebeb;
}
.__product-top .product-title {
    border: 1px solid #ebebeb;
    border-top: transparent;
    padding: 20px 0;
    border-bottom: transparent;
}
.__product-top .product-title a {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    color: inherit;
    text-decoration: none;
}
.__product-bottom .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px 10px;
    border:1px solid rgba(0,0,0,0.06);
    border-top: transparent;
}
.newestPhone-col .newestPhone-image img {
    transition: all 500ms ease-in-out;
    will-change: transform;
}
.newestPhone-col .newestPhone-image:hover img {
    transform: scale(1.05);
    transition: 700ms ease-in-out;
}
.newestPhone-col .newestPhone-image:hover a::after {
    height: 3px;
    width: 100%;
    background: #ff5500;
}
.__product-bottom .description h2 {
    font-size: 23px;
    margin:0;
}
.__product-bottom .description h2 sup {
    top: -14.5px;
    font-size: 13px;    
}
.__product-bottom .description .add-to-cart-btn {
    background: transparent !important;
    border: none !important;
    color: #14407d;
    padding: 0;
    font-size: 22px;
    opacity: 1;
    margin: 0;
    width: auto;
    cursor: pointer;
}
.view-more-button {
    padding: 0 10px;
}
.view-more-button a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;    
}
.view-more-button a:hover {
    text-decoration: none;
}
.view-more-button .add-to-compare {
    float: right;
}
/* ********************Media Query********************* */


@media screen and (max-width: 1200px) and (min-width: 1024px) {
    .middle-header-col .nav {
        margin-left: 10px;
    }
    .featuredBrand-section {
        padding: 20px 0;
    }
    .featuredBrand-section .__featuredBrand:nth-child(1) {
        padding-bottom: 0 !important;
    }
    .featuredBrand-section .__featuredBrand h1 {
        font-size: 30px;
        margin: 0;
        text-transform: uppercase;
    }
    .featuredProduct {
        padding: 30px 0 20px;
    }
    .featuredProduct-col .featuredTitle h1 {
        font-weight: 500;
    }
    .productTab1 {
        line-height: 1.3;
        padding-bottom: 5px;
    }
    .productTab1 a {
        font-size: 15px;
        font-weight: 500;
    }
    .newestPhone-col .main-title {
        margin-bottom: 0;
    }
    .newestPhone-col .main-title h1::after {
        bottom: 0;
    }
    .electronics-section {
        padding: 20px 0px;
    }
    .aboutCommunication {
        padding: 25px 0;
    }
    .aboutCampany h2 {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 500;
        margin: 0;
    }
    .aboutCampany p {
        padding-top: 10px;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0;
        text-align: center;
        margin: 0;
    }
    .newestPhone-col .main-title h1 {
        font-size: 26px;
        font-weight: 500;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-next {
        right: -30px;
        top: 50%;
        transform: translate(0,-50%);
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-prev {
        left: -30px;
        top: 50%;
        transform: translate(0,-50%);
    }
    .col-md-12.featuredProduct-col.d-flex.align-items-center.justify-content-center.pb-5 {
        padding-bottom: 1rem!important;
    }
    .product {
        padding: 15px 0;
    }
    .product .product00 .nav li {
        margin-left: 25px;
    }
    .product .product00 .nav li a {
        font-size: 15px;
        padding: 2px 10px;
    }
    .popular-detail a h5 {
        font-size: 15px;
    }
    .newsLetter .newsLetter-col .newsLetter-00 h1 {
        font-size: 23px;
        margin: 0;
        padding-bottom: 0px;
    }
    .newsLetter {
        padding: 20px 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 p {
        font-size: 12px;
        margin:0;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group .input-group-text {
        padding: 0 10px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group input {
        padding: 5px 0px 5px 10px;
        font-size: 13px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 a {
        margin-left: 15px;
        font-size: 13px;
        line-height: 1.7;
    }
    .siteFooter {
        padding: 20px 0;
    }
    .siteFooter .siteFooter-col .footernav h1 {
        font-size: 14px;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    .siteFooter .siteFooter-col .footernav ul li a {
        font-size: 12px;
        line-height: normal;
    }
    .siteFooter .siteFooter-col .footernav a i.fab {
        padding: 0px 7px;
        font-size: 22px;
    }
    .copyRight .copyRight-col .copyRight00 h4 {
        font-size: 12px;
    }
    .copyRight {
        padding: 5px 0;
    }
    .copyRight .copyRight-col .copyRight01 {
        display: inline-block;
    }
    .copyRight .copyRight-col .copyRight01 i {
        font-size: 20px;
        padding-right: 5px;
    }
    .copyRight .copyRight-col .copyRight01 {
        margin-left: 185px;
    }
    .product .product00 .row .col-lg-3:nth-child(4) .productTab::after,
    .product .product00 .row .col-lg-3:nth-child(8) .productTab::after,
    .product .product00 .row .col-lg-3:nth-child(12) .productTab::after,
    .product .product00 .row .col-lg-3:nth-child(16) .productTab::after {
        border-color: transparent !important;
    } 
    .bg-image {
        width: auto;
        max-width: 100%;
        height: 230px;
    }
    .shopbannerTitle h1,
    .shopbannerTitle h2,
    .shopbannerTitle h3 {
        font-size: 60px;
    }  
    .shopBanner {
        padding: 15px;
    }
    .filter-column {
        padding: 10px 15px;
    }
    .pagination {
        width: 200px;
    }
    .newestPhone-col .newestPhone-image a::after {
        width: 210px;
    }
    .popularPhone-col .popular-detail h5 {
        font-size: 16px;
    }
    .promoSlider-col .promo-image img {
        width: 350px;
    }
    .promo-slide-show .owl-nav .owl-next span::before {
        right: -70px;
        height: 22px;
        font-size: 40px;
    }
    .sh3jz .flex {
        margin-left: 0;
    }
    .sh3jz .nav-pills > li > a {
        padding: 15px 20px;
    }
    .sh3jz .nav-pills > li > a i {
        font-size: 13px;
        margin-left: 10px;
    }
    .sh3jz .dropdown-submenu.left1020 {
        float: none;
    }
    .sh3jz .dropdown-submenu.left1020 > .dropdown-menu {
        left: -100%;
        margin-left: -3px;
        -webkit-border-radius: 6px 6px 6px 6px;
        -moz-border-radius: 6px 6px 6px 6px;
        border-radius: 6px 6px 6px 6px;
    }
    .right1020 {
        top: 0;
        left: 0; 
    } 
    .sh3jz .dropdown-submenu.right1020 > .dropdown-menu {
        left: 100%;
    }
    .nav-item.wishlist, .nav-item.compare, .my-dropdown {
        margin-top: 0 !important;
    }
    .sh3jz .nav-pills > li > a {
        padding: 15px 15px;
    }
    .sh3jz .flex {
        margin-left: 40px;
    }
    .sh3jz .left1020:hover > .dropdown-menu::before {
        top: 7px;
        left: 15.5rem;
        border: 10px solid transparent;
        border-left-color: #f8831e;
    }
    .sh3jz .right1020:hover > .dropdown-menu::before {
        top: 7px;
        left: -20px;
        border: 10px solid transparent;
        border-right-color: #f8831e;
    }
    #header-nav .search-button {
        top: 54%;
        bottom: 0;
    }
}

@media screen and (max-width: 1024px) and (min-width: 993px) {
    .sub-nav-lvl2 .sub-items-lvl2 .sub-link-lvl2 {
        font-size: 12px;
    }
    .sub-nav-lvl2 .see-all-btn {
        width: 60%;
        margin-top: 7px;
        margin-right: auto;
    }
    .sub-nav .sub-items {
        width: 25%;
        min-height: 200px;
    }
    .navigation .listing .list-link {
        height: 48px;
        line-height: 48px;
    }
    .navbar .dropdown-menu {
        top: 65px;
    }
    .logo-header .helpful-links ul li[data-toggle="tooltip"], .logo-header .helpful-links ul li[data-toggle="tooltip"] {
        margin: 0 !important;
    }
    .product {
        padding-bottom: 0;
        padding-top: 20px;
    }
    .product .product00 .nav li {
        margin-left: 20px;
    }
    .product .product00 .nav li a {
        font-size: 15px;
        padding: 0;
    }
    .product .product00 .row .col-md-4:nth-child(16) .productTab:hover {
        position: relative;
    }
    .newsLetter {
        padding: 20px 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 h1 {
        font-size: 21px;
        padding-bottom: 3px;
        margin-bottom: 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 p {
        font-size: 11px;
        line-height: normal;
        margin-bottom: 0;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group input {
        padding: 0 15px;
        font-size: 14px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group .input-group-text {
        padding: 0 10px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group .input-group-text .fa-envelope {
        font-size: 13px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 a {
        margin-left: 15px;
        padding: 0px 10px;
        font-size: 12px;
        line-height: 3;
    }
    .siteFooter {
        padding: 20px 0;
    }
    .siteFooter .siteFooter-col .footernav h1 {
        font-size: 13px;
        padding-bottom: 5px;
        margin-bottom: 8px;
    }
    .siteFooter .siteFooter-col .footernav ul {
        line-height: normal;
    }
    .siteFooter .siteFooter-col .footernav ul li a {
        font-size: 9px;
        line-height: 0;
    }
    .siteFooter .siteFooter-col .footernav ul li a i {
        padding-right: 2px;
        font-size: 9px;
    }
    .siteFooter .siteFooter-col .footernav a i.fab {
        padding: 0px 5px;
        font-size: 19px;
    }
    .copyRight {
        padding: 5px 0;
    } 
    .copyRight .copyRight-col .copyRight00 h4 {
        font-size: 13px;
    }
    .copyRight .copyRight-col .copyRight01 {
        display: inline-block;
    }
    .copyRight .copyRight-col .copyRight01 i {
        font-size: 20px;
        padding-right: 5px;    
    }
    .featuredBrand-section {
        padding: 15px 0;
    }
    .featuredBrand-section .featuredBrand h1 {
        font-size: 29px;
    }
    .featuredBrand-section .featuredBrand:nth-child(1) {
        padding-bottom: 0 !important;
    }
    .product .product00 .row .col-lg-3:nth-child(4) .productTab::after,
    .product .product00 .row .col-lg-3:nth-child(8) .productTab::after,
    .product .product00 .row .col-lg-3:nth-child(12) .productTab::after,
    .product .product00 .row .col-lg-3:nth-child(16) .productTab::after {
        border-color: transparent !important;
} 
}
@media screen and (max-width: 992px) and (min-width: 767px) {
    #header-nav {
        display: none;
    }
    .filter-column {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #f3f3f4;
        overflow-x: hidden;
        transition: 0.5s;
        padding: 0;
        max-width: 40%;
        padding-top: 60px;
        box-shadow: rgb(136, 136, 136) -1px 0px 10px 2px;
    }
    .sidebar_filter .closebtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 32px;
        margin-left: 50px;
        color: #ff7743;
    }
    .sidebar_filter {
        padding-left: 25px;
        padding-right: 25px;
    }
    .product-column {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .pagination {
        width: 200px;
    }
    .filterBar .sortingFilter {
        cursor: pointer;
    }
    .shopBanner {
        padding: 15px;
    }
    .shopbannerTitle h1,
    .shopbannerTitle h2,
    .shopbannerTitle h3 {
        font-size: 58px;
    }
    .bg-image {
        height: 230px;
    }
    .bottom-header-col .bottom-header .nav li a {
        font-size: 10px;
        padding: 5px 12px;
    }
    .product {
        padding-bottom: 0;
        padding-top: 10px;
    }
    .product .product00 .nav li {
        margin-left: 15px;
    }
    .product .product00 .nav li a {
        font-size: 14px;
        padding: 0;
    }
    .product .product00 .row .col-md-4:nth-child(16) .productTab:hover {
        position: relative;
    }
    .newsLetter {
        padding: 20px 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 h1 {
        font-size: 18px;
        padding-bottom: 3px;
        margin: 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 p {
        font-size: 9px;
        line-height: normal;
        margin: 0;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group input {
        padding: 0 15px;
        font-size: 12px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group .input-group-text {
        padding: 0 10px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group .input-group-text .fa-envelope {
        font-size: 13px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 a {
        margin-left: 10px;
        padding: 0px 10px;
        font-size: 10px;
        line-height: 3;
    }
    .siteFooter {
        padding: 20px 0;
    }
    .siteFooter .siteFooter-col .footernav h1 {
        font-size: 12px;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .siteFooter .siteFooter-col .footernav ul {
        line-height: normal;
    }
    .siteFooter .siteFooter-col .footernav ul li a {
        font-size: 9px;
        line-height: normal;
    }
    .siteFooter .siteFooter-col .footernav ul li a i {
        padding-right: 2px;
        font-size: 7px;
    }
    .siteFooter .siteFooter-col .footernav a i.fab {
        padding: 0px 5px;
        font-size: 19px;
    }
    .copyRight {
        padding: 5px 0;
    } 
    .copyRight .copyRight-col .copyRight00 h4 {
        font-size: 12px;
    }
    .copyRight .copyRight-col .copyRight01 {
        display: inline-block;
    }
    .copyRight .copyRight-col .copyRight01 i {
        font-size: 20px;
        padding-right: 5px;    
    }
    .featuredBrand-section {
        padding: 15px 0;
    }
    .featuredBrand-section .featuredBrand h1 {
        font-size: 25px;
    }
    .featuredBrand-section .featuredBrand:nth-child(1) {
        padding-bottom: 0 !important;
    }
    .featuredBrand-section .featuredBrand:nth-child(2) {
        padding-top: 10px !important;
    }
    .copyRight .copyRight-col .copyRight01 {
        margin-left: 100px;
    }
    .product .product00 .row .col-md-4:nth-child(3) .productTab::after,
    .product .product00 .row .col-md-4:nth-child(6) .productTab::after,
    .product .product00 .row .col-md-4:nth-child(9) .productTab::after,
    .product .product00 .row .col-md-4:nth-child(12) .productTab::after,
    .product .product00 .row .col-md-4:nth-child(15) .productTab::after,
    .product .product00 .row .col-md-4:nth-child(16) .productTab::after {
        border-color: transparent !important;
    }
    .product-top .product-title h4 {
        font-size: 17px;
    }
    .product-bottom .description p {
        font-size: 9px;
    }
    .newestPhone-col .newestPhone-image a::after {
        width: 155px;
    }
    .popularPhone-col .popular-detail h5 {
        font-size: 11px;
    }
    .promoSlider-col .promo-description h2 {
        padding-bottom: 15px;
        font-size: 24px;
        padding-right: 50px;
    }
    .promoSlider-col .promo-description ul li {
        font-size: 14px;
    }
    .promoSlider-col .promo-description a {
        margin-top: 15px;
    }
    .promoSlider-col .promo-image img {
        width: 350px;
    }
    .promo-slide-show .owl-nav .owl-next span::before {
        right: -50px;
        height: 25px;
        font-size: 40px;
    }
    .aboutCampany p {
        line-height: 1.3;
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
    .nav-item.wishlist, .nav-item.compare, .my-dropdown {
        margin-top: 0 !important;
    }
    .nav.helpful-links-inner .login .sign-log .links .sign-in::before,
    .nav.helpful-links-inner .login .sign-log::before,
    .top-header-col .top-nav-bar .nav .nav-item a::before {
        height: 15px;
        top: 6px;
    }
    .site-logo a img {
        width: 114px;
    }
    .hero-area .hero-area-slider .intro-carousel .intro-content {
        height: 432px;
    }
    .__featuredBrand h1 {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
    }
    .col-md-12.pb-3.d-flex.align-items-center.justify-content-center.__featuredBrand {
        padding-bottom: 0.5rem !important;
    }
    .col-md-12.pt-3.__featuredBrand {
        padding-top: 0.5rem !important;
        padding-bottom: 0 !important; 
    }
    .__featuredBrand-section .owl-carousel .owl-item img {
        display: block;
        width: 130px;
        margin: 0 auto;
    }
    .featuredProduct {
        padding: 20px 0;
    }
    .productTab {
        padding: 10px 15px;
        background: #fff;
    }
    .productTab1 a {
        font-size: 13px;
        font-weight: 500;
    }
    .productTab1 {
        line-height: 1.156488;
        padding-bottom: 5px;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-next {
        right: -28px;
        top: 50%;
        transform: translate(0,-50%);
        width: 28px;
        height: 28px;
        font-size: 13px;
        line-height: normal;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-prev {
        left: -28px;
        top: 50%;
        transform: translate(0,-50%);
        width: 28px;
        height: 28px;
        font-size: 13px;
        line-height: normal;
    }
    .featuredProduct-col .featuredTitle h1 {
        font-size: 28px;
        font-weight: 500;
        margin: 0;
    }
    .col-md-12.featuredProduct-col.d-flex.align-items-center.justify-content-center.pb-5 {
        padding-bottom: 1rem!important;
    }
    .owl-theme .owl-nav {
        margin-bottom: 0;
    }
    .newestPhone-col .main-title {
        margin: 0;
    }
    .newestPhone-col .main-title h1 {
        font-size: 26px;
        font-weight: 500;
    }
    .newestPhone-col .main-title h1::after {
        bottom: 0;
    }
    .categori-item {
        padding: 20px 0px;
    }
    .product .product00 .productTab .productTab1 a {
        font-weight: 500;
    }
    .aboutCommunication {
        padding: 30px 0;
    }
    .aboutCampany h2 {
        font-size: 28px;
        line-height: 1.2;
        margin: 0;
    }
    .aboutCommunication-col .brandsLogo {
        margin: 0 3px;
    }
} 
    
@media screen and (max-width: 768px) and (min-width: 424px) {
    .top-header-col {
        display: block !important;
        text-align: center;
    }
    #header-nav {
        display: none;
    }
    .shopBanner {
        padding: 10px;
    }
    .shopbannerTitle h1,
    .shopbannerTitle h2,
    .shopbannerTitle h3 {
        font-size: 40px;
        line-height: 1;
    }
    .bg-image {
        height: 160px;
    }
    .filter-column {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #f3f3f4;
        overflow-x: hidden;
        transition: 0.5s;
        padding: 0;
        padding-top: 60px;
        box-shadow: rgb(136, 136, 136) -1px 0px 10px 2px;
    }
    .sidebar_filter .closebtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 32px;
        margin-left: 50px;
        color: #ff7743;
    }
    .sidebar_filter {
        padding-left: 25px;
        padding-right: 25px;
    }
    .filterBar .sortingFilter {
        cursor: pointer;
    }
    .filterBar {
        display: block;
    }
    .filterBar .sortingFilter {
        margin: 5px 0;
    }
    .filterBar .sortingFilter,
    .filterBar .viewsTab {
        display: inline-block;
    }
    .btn-group {
        padding-left: 0;
        margin: 5px 0;
    }
    .btn-group .btn-text {
        padding: 0 10px;
        width: 160px;
        font-size: 12px;
    }
    .pagination{
        width: 166px;
        display: inline-block;
        font-size: 12px;
    }
    .product-row .product-col .productTab::after {
        position: relative;
    }
    .product-row .product-col .productTab:hover {
        position: relative;
    }
    .productlist-row .product-col {
        display: block !important;
    }
    .productlist-row .product-col .productTabIMG {
        width: 100%;
        text-align: center;
    }
    .productlist-row .product-col .productTabIMG a img {
        width: auto;
        max-width: 100%;
        height: 135px;
    }
    .productlist-row .product-col .productTab .productTab3 {
        margin-top: 5px;
        text-align: center;
    }
    .productTab0,
    .productTab1 {
        line-height: normal;
    }
    .below-header {
        display: none;
    }
    .featuredBrand-section {
        padding: 15px 0;
    }
    .featuredBrand-section .featuredBrand {
        padding-bottom: 0px !important;
    }
    .featuredBrand-section .featuredBrand h1 {
        font-size: 24px;
    }
    .product {
        padding: 10px 0;
    }
    .product .product00 .row .col-md-4 .productTab::after {
        border-color: transparent;
    }
    .product .product00 .row .col-md-4 .productTab:hover {
        border: 1px solid #ccc;
        box-shadow: 0px 0px 6px 5px #eaeaea;
        cursor: pointer;
        position: relative;
        padding-bottom: 20px;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-prev {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        left: -30px;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-next {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        right: -30px;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-prev span {
        font-size: 30px;
        bottom: 7%;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-next span {
        font-size: 30px;
        bottom: 7%;
    }
    .popularPhone-col {
        padding-bottom: 0 !important;
    }
    .popularPhone-col .popular-detail {
        padding:0;
    }
    .popularPhone-col .popular-detail h5 {
        font-size: 7px;
    }
    .promoSlider-col .promo-description h2 {
        padding-right: 0; 
        padding-bottom: 10px; 
        font-size: 15px;
    }
    .promoSlider-col .promo-description ul li {
        font-size: 10px;
    }
    .promoSlider-col .promo-description a {
        padding: 0px 12px;
        font-size: 10px;
        margin: 0;
    }
    .promoSlider-col .promo-image img{
        width: 250px;
        height: auto;
    }
    .newestPhone-col {
        padding-bottom: 0 !important;
    }
    .pad-top {
        padding-top: 10px;
    }
    .aboutCampany h2 {
        font-size: 24px;
    }
    .aboutCampany p {
        padding-top: 15px;
        line-height: 22px;
        font-size: 13px;
        text-align: center;
    }
    .aboutCommunication-col {
        padding-top: 0 !important;
    }
    .aboutCommunication-col.pad-top {
        padding-top: 10px !important;
    } 
    .aboutCommunication-col .brandsLogo {
        margin:0 1px;
    }
    .featuredProduct-col .featuredTitle {
        padding-bottom: 30px;
    }
    .newestPhone-col .newestPhone-image a::after {
        left: 15px;
        width: 120px;
    }
    .newestPhone-col .description h5 {
        font-size: 16px;
        padding-top: 10px;        
    }
    .popular-detail a h5 {
        font-size: 16px;
    }
    .featuredProduct-col .featuredTitle h1 {
        font-size: 26px;
    }
    .newestPhone-col .main-title h1,
    .popularPhone-col .title h2 {
        font-size: 24px;
    }
    .newestPhone-col .main-title h1::after,
    .popularPhone-col .title h2::after {
        width: 150px;
    }
    .featuredProduct-Slider .item {
        margin-right: 0px;
    }
    .promo-slide-show .owl-nav .owl-next span::before {
        position: relative;
        right: -55px;
        bottom: -22px;
        height: 0px;
        font-size: 25px;
    }
    .newsLetter {
        padding: 20px 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 h1 {
        font-size: 18px;
        padding-bottom: 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 p {
        font-size: 10px;
        line-height: normal;
        padding-bottom: 10px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group input {
        padding: 5px 20px 5px 6px;
        font-size: 10px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group span {
        padding: 0 8px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group span i.fa-envelope {
        font-size: 12px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 a {
        margin-left: 15px;
        padding: 0px 15px;
        font-size: 10px;
    }
    .siteFooter {
        padding: 20px 0 10px;
    }
    .siteFooter .siteFooter-col .footernav h1 {
        border-bottom: none;
        position: relative;
        margin-bottom: 10px;
    }
    .siteFooter .row .siteFooter-col .footernav  {
        margin-bottom: 20px;
    }
    .siteFooter .siteFooter-col .footernav h1::before {
        content: '';
        width: 110px;
        height: 2px;
        background-color: #404241;
        left: 0;
        bottom: 0;
        position: absolute;
        border-radius: 50px;
    }
    .copyRight .copyRight-col .copyRight01 {
        display: none;
    }
    .copyRight .copyRight-col .copyRight02 {
        right: 15px;
    }
    .copyRight .copyRight-col .copyRight00 h4 {
        font-size: 10px;
    }
    .copyRight .copyRight-col .copyRight02 h4 {
        font-size: 10px;
    }
    .copyRight .copyRight-col .copyRight02 a img {
        width: 30px;
    }
    .product .product00 .nav::after,
    .product .product00 li a.active::after,
    .product .product00 li a.active::before {
        display: none;
    }
    .product .product00 .nav li {
        margin-left: 0;
    }
    .product .product00 .nav li a.active {
        color: #fff;
        font-weight: 500;
        padding: 2px 8px;
    }
    .owl-carousel.productNav::before {
        content: '';
        position: absolute;
        top: 0;
        left: 30%;
        width: 40%;
        height: 2px;
        background-color: #ff7743;
        border-radius: 50px;
    }
    .owl-carousel.productNav::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 30%;
        right: 0;
        width: 40%;
        height: 2px;
        background-color: #ff7743;
        border-radius: 50px;
    }
    .col-md-12.aboutCommunication-col.pt-3 {
        padding-top: 0.5rem !important;
    }
    .top-header-col .top-nav-bar .nav .nav-item a::before {
        top: 6px;
    }
    .__product-top .product-title {
        line-height: 1.1;
    }
    .__product-top .product-title a {
        font-size: 14px;
    }
    .__product-bottom .description h2 {
        font-size: 20px;
    }
    .__product-bottom .description h2 sup {
        font-size: 11px;        
    }
    .__product-bottom .description .add-to-cart-btn {
        font-size: 20px;
    }
    .view-more-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
} 

@media screen and (max-width: 425px) and (min-width: 376px) { 
    .top-header-col .help-content a:nth-child(1) {
        font-size: 13px;
        padding-right: 5px;
    }
    .top-header-col .help-content a {
        font-size: 13px;
    }
    .top-header-col .top-nav-bar .nav .nav-item a {
        font-size: 13px;
        padding: 0 8px;
    }
    .top-header-col .top-nav-bar .nav .nav-item:nth-child(6) a {
        font-size: 18px;
        line-height: 0;
    }
    .featuredProduct {
        padding: 20px 0;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-prev {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        left: -10px;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-next {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        right: -10px;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-prev span {
        font-size: 30px;
        bottom: 7%;
        top: 50%;
        transform: translate(0,-50%);
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-next span {
        font-size: 30px;
        bottom: 7%;
        top: 50%;
        transform: translate(0,-50%);
    }
    .popularPhone-col {
        padding-bottom: 0 !important;
    }
    .popularPhone-col .popular-detail {
        padding:0;
    }
    .popularPhone-col .popular-detail h5 {
        font-size: 7px;
    }
    .promoSlider-col .promo-description h2 {
        padding-right: 0; 
        padding-bottom: 10px; 
        font-size: 15px;
    }
    .promoSlider-col .promo-description ul li {
        font-size: 10px;
    }
    .promoSlider-col .promo-description a {
        padding: 0px 12px;
        font-size: 10px;
        margin: 0;
    }
    .promoSlider-col .promo-image img{
        width: 250px;
        height: auto;
    }
    .newestPhone-col {
        padding-bottom: 0 !important;
    }
    .pad-top {
        padding-top: 10px;
    }
    .aboutCampany h2 {
        font-size: 23px;
        margin: 0;
        line-height: 1.2;
    }
    .aboutCampany p {
        padding-top: 15px;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        margin: 0;
    }
    .col-md-5.d-flex.align-items-center.justify-content-center.newsLetter-col {
        /*align-items: flex-start !important;*/
        /*justify-content: start !important;*/
    }
    .aboutCommunication-col {
        padding-top: 0 !important;
    }
    .aboutCommunication-col.pad-top {
        padding-top: 10px !important;
    } 
    .aboutCommunication-col .brandsLogo {
        margin:0 1px;
    }
    .featuredProduct-col .featuredTitle {
        padding-bottom: 0px;
    }
    .newestPhone-col .newestPhone-image a::after {
        left: 0;
        width: 127px;
    }
    .featuredProduct-col .featuredTitle h1 {
        font-size: 33px;
        margin: 0;
        font-weight: 500;
        text-transform: capitalize;
    }
    .newestPhone-col .main-title h1,
    .popularPhone-col .title h2 {
        font-size: 24px;
    }
    .newestPhone-col .main-title h1::after,
    .popularPhone-col .title h2::after {
        width: 150px;
    }
    .featuredProduct-Slider .item {
        margin-right: 0px;
    }
    .promo-slide-show .owl-nav .owl-next span::before {
        position: relative;
        right: -48px;
        bottom: -22px;
        height: 0px;
        font-size: 23px;
    }
    .aboutCommunication {
        padding: 20px 0;
    }
    .top-header-col {
        display: block !important;
        text-align: center;
    }
    #header-nav {
        display: none;
    }
    .shopBanner {
        padding: 10px;
    }
    .shopbannerTitle h1,
    .shopbannerTitle h2,
    .shopbannerTitle h3 {
        font-size: 35px;
        line-height: 1;
    }
    .bg-image {
        height: 140px;
    }
    .filter-column {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #f3f3f4;
        overflow-x: hidden;
        transition: 0.5s;
        padding: 0;
        padding-top: 60px;
        box-shadow: rgb(136, 136, 136) -1px 0px 10px 2px;
    }
    .sidebar_filter .closebtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 32px;
        margin-left: 50px;
        color: #ff7743;
    }
    .sidebar_filter {
        padding-left: 25px;
        padding-right: 25px;
    }
    .filterBar .sortingFilter {
        cursor: pointer;
    }
    .filterBar {
        display: block;
    }
    .filterBar .sortingFilter {
        margin: 5px 0;
    }
    .filterBar .sortingFilter,
    .filterBar .viewsTab {
        display: inline-block;
    }
    .btn-group {
        padding-left: 0;
        margin: 5px 0;
    }
    .btn-group .btn-text {
        padding: 0 10px;
        width: 140px;
        font-size: 12px;
    }
    .pagination{
        width: 135px;
        display: inline-block;
        font-size: 12px;
    }
    .productlist-row .product-col .productTab .productTab3 a {
        margin-right: 0px;
        padding: 9px;
        font-size: 10px;
    }
    .productlist-row .product-col .productTab .productTab2 h1 {
        font-size: 18px;
    }
    .productlist-row .product-col .productTab .productTab2 h2 {
        font-size: 13px;
    }
    .product-row .product-col .productTab::after {
        position: relative;
    }
    .product-row .product-col .productTab:hover {
        position: relative;
    }
    .productlist-row .product-col {
        display: block !important;
    }
    .productlist-row .product-col .productTabIMG {
        width: 100%;
        text-align: center;
    }
    .productlist-row .product-col .productTabIMG a img {
        width: auto;
        max-width: 100%;
        height: 135px;
    }
    .productlist-row .product-col .productTab .productTab3 {
        margin-top: 5px;
        text-align: center;
    }
    .productTab0,
    .productTab1 {
        line-height: normal;
    }
    .featuredBrand-section {
        padding: 15px 0;
    }
    .featuredBrand-section .featuredBrand {
        padding-bottom: 0px !important;
    }
    .featuredBrand-section .featuredBrand h1 {
        font-size: 21px;
    }
    .product .product00 .nav li a {
        font-size: 14px;
    }
    .product .product00 .productNav .item .nav {
        line-height: normal;
    }
    .product {
        padding: 10px 0;
    }
    .product .product00 .row .col-md-4 .productTab::after {
        border-color: transparent;
    }
    .product .product00 .row .col-md-4 .productTab:hover {
        border: 1px solid #ccc;
        box-shadow: 0px 0px 6px 5px #eaeaea;
        cursor: pointer;
        position: relative;
        padding-bottom: 20px;
        margin-top: 2px;
    }
    .newsLetter {
        padding: 20px 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 h1 {
        font-size: 15px;
        padding-bottom: 0;
        margin: 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 p {
        font-size: 10px;
        line-height: normal;
        padding-bottom: 10px;
        margin: 0;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group input {
        padding: 5px 20px 5px 6px;
        font-size: 8px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group span {
        padding: 0 8px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group span i.fa-envelope {
        font-size: 10px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 a {
        margin-left: 10px;
        padding: 7px 9px;
        font-size: 7px;
        line-height: normal;
    }
    .siteFooter {
        padding: 20px 0 10px;
    }
    .siteFooter .siteFooter-col .footernav h1 {
        border-bottom: none;
        position: relative;
        margin-bottom: 6px;
        font-size: 12px;
    }
    .siteFooter .row .siteFooter-col .footernav  {
        margin-bottom: 20px;
    }
    .siteFooter .siteFooter-col .footernav ul li a {
        font-size: 10px;
    }
    .siteFooter .siteFooter-col .footernav h1::before {
        content: '';
        width: 110px;
        height: 2px;
        background-color: #404241;
        left: 0;
        bottom: 0;
        position: absolute;
        border-radius: 50px;
    }
    .siteFooter .siteFooter-col .footernav a i.fab {
        font-size: 20px;
        padding: 0 5px;
    }
    .copyRight .copyRight-col .copyRight01 {
        display: none;
    }
    .copyRight .copyRight-col .copyRight02 {
        right: 15px;
    }
    .copyRight .copyRight-col .copyRight00 h4 {
        font-size: 8px;
    }
    .copyRight .copyRight-col .copyRight02 h4 {
        font-size: 8px;
    }
    .copyRight .copyRight-col .copyRight02 a img {
        width: 30px;
    }
    .product .product00 .nav::after,
    .product .product00 li a.active::after,
    .product .product00 li a.active::before {
        display: none;
    }
    .product .product00 .nav li a.active {
        color: #fff;
        font-weight: 500;
    }
    .owl-carousel.productNav::before {
        content: '';
        position: absolute;
        top: 0;
        left: 30%;
        width: 40%;
        height: 2px;
        background-color: #ff7743;
        border-radius: 50px;
    }
    .owl-carousel.productNav::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 30%;
        right: 0;
        width: 40%;
        height: 2px;
        background-color: #ff7743;
        border-radius: 50px;
    }
    .retailer-title {
        padding-bottom: 0;
    }
    .login-signup .login-area.signup-area {
        margin-top: 20px;
    }
    .login-area .header-area {
        margin-bottom: 0;
    }
    .login-area {
        padding: 20px 15px;
    }
    .login-area .form-input {
        margin-bottom: 15px;
    }
    .login-area .form-input input {
        height: 44px;
    }
    .login-area .header-area .title {
        letter-spacing: 0.04rem;
        font-size: 21px;
    }
    .col-md-4.top-header-col.d-flex.align-items-center.justify-content-start{
        justify-content: center !important;
    }
    .nav.helpful-links-inner {
        justify-content: center;    
    }
    .logo-header .helpful-links ul li .sign-log .links span {
        font-size: 13px !important;    
    }
    .logo-header .helpful-links ul li.wishlist .wish span {
        top: -6px;
        right: 0px;
    }
    .mobile-nav-col .site-logo a img {
        width: 100px;
    }
    .mobile-nav-col span {
        font-size: 30px;
    } 
    #mobile-nav .search-toggle-1 {
        height: 17px;
        width: 17px;
    }
    #mobile-nav .search-toggle-1::before {
        top: -2px;
    }
    #mobile-nav .search-toggle-1::after {
        width: 10px;
        top: 13px;
        left: 11px;
    }
    .hero-area {
        padding-top: 137px;
    }
    .hero-area .hero-area-slider .intro-carousel .intro-content {
        height: 239px;
    }
    .__featuredBrand h1 {
        font-size: 33px;
        margin: 0;
    }
    .col-md-12.pb-3.d-flex.align-items-center.justify-content-center.__featuredBrand {
        padding-bottom: 0 !important;
    }
    .productTab {
        padding: 20px;
        border: 1px solid #dddddd5e;
        border-radius: 5px;
        cursor: pointer;
    }
    .productTab:hover {
        border: 1px solid #dddddd5e;
        border-radius: 5px;
        box-shadow: none;
        position: relative;
        padding: 20px;
    }
    .productTab3 {
        margin-bottom: 10px;
        padding-bottom: 0px;
    }
    .productTab:hover .productTab3 {
        margin-bottom: 10px; 
    }
    .productTab .productTab3 a {
        color: #ff7743;
    }
    .productTab4 {
        display: flex;
        justify-content: space-between;
    }
    .productTab3 h1 {
        margin: 0;
    }
    .newestPhone-col .main-title {
        margin-bottom: 0;
    }
    .newestPhone-col .main-title h1::after {
        bottom: 0;
    }
    .top-header-col .top-nav-bar .nav .nav-item a::before {
        top: 0;
    }
    .col-md-12.featuredProduct-col.d-flex.align-items-center.justify-content-center.pb-5 {
        padding-bottom: 1rem!important;        
    }
    .phone-and-accessories .col-md-3.col-sm-4.newestPhone-col,
    .categori-item.electronics-section .col-md-3.col-sm-4.pt-3 {
        width: 33.33%;
        padding-right: 7px;
        padding-left: 7px;
    }
    .popular-detail a h5 {
        font-weight: 500;
    }
    .view-more-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .view-more-button a {
        font-size: 13px;
    }
    .__product-top .product-title {
        padding: 10px 0 5px;
    }
}
@media screen and (max-width: 375px) and (min-width: 320px) {
    .top-header-col {
        display: block !important;
        text-align: center;
    }
    .top-header-col .help-content a:nth-child(1) {
        font-size: 11px;
        padding-right: 5px;
    }
    .top-header-col .help-content a {
        font-size: 11px;
    }
    .top-header-col .top-nav-bar .nav .nav-item a {
        font-size: 11px;
        padding: 0 6px;
    }
    .top-header-col .top-nav-bar .nav .nav-item:nth-child(5) a {
        font-size: 16px;
        line-height: 1.1;
    }
    .featuredProduct {
        padding: 15px 0;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-prev {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        left: 0px;
        top: 50%;
        transform: translate(0,-50%);
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-next {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        right: 0;
        top: 50%;
        transform: translate(0,-50%);
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-prev span {
        font-size: 30px;
        bottom: 7%;
    }
    .owl-carousel.featuredProduct-Slider .owl-nav .owl-next span {
        font-size: 30px;
        bottom: 7%;
    }
    .popularPhone-col {
        padding-bottom: 0 !important;
    }
    .popularPhone-col .popular-detail {
        padding:0;
    }
    .popularPhone-col .popular-detail h5 {
        font-size: 7px;
    }
    .logo-header .helpful-links ul li .sign-log .links span {
        font-size: 11px !important;
    }
    .promoSlider-col .promo-description h2 {
        padding-right: 0; 
        padding-bottom: 10px; 
        font-size: 15px;
    }
    .promoSlider-col .promo-description ul li {
        font-size: 10px;
    }
    .promoSlider-col .promo-description a {
        padding: 0px 12px;
        font-size: 10px;
        margin: 0;
    }
    .promoSlider-col .promo-image img{
        width: 250px;
        height: auto;
    }
    .newestPhone-col {
        padding-bottom: 0 !important;
    }
    .pad-top {
        padding-top: 10px;
    }
    .aboutCampany h2 {
        font-size: 20px;
        line-height: 1.2;
        margin: 0;
    }
    .aboutCampany p {
        padding-top: 10px;
        line-height: normal;
        font-size: 10px;
        text-align: center;
    }
    .aboutCommunication-col {
        padding-top: 0 !important;
    }
    .aboutCommunication-col.pad-top {
        padding-top: 10px !important;
    } 
    .aboutCommunication-col .brandsLogo {
        margin:0 1px;
    }
    .featuredProduct-col .featuredTitle {
        padding-bottom: 0px;
    }
    .newestPhone-col .newestPhone-image a::after {
        left: 0px;
        width: 146px;
    }
    
    .featuredProduct-col .featuredTitle h1 {
        font-size: 28px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 0;
    }
    .newestPhone-col .main-title h1,
    .popularPhone-col .title h2 {
        font-size: 20px;
    }
    .newestPhone-col .main-title h1::after,
    .popularPhone-col .title h2::after {
        width: 110px;
    }
    .featuredProduct-Slider .item {
        margin-right: 0px;
    }
    .promo-slide-show .owl-nav .owl-next span::before {
        position: relative;
        right: -48px;
        bottom: -22px;
        height: 0px;
        display: none;
        font-size: 23px;
    }
    .aboutCommunication {
        padding: 20px 0;
    }
    .mobile-nav-col .site-logo a img {
        width: 98px;
    }
    #mobile-nav .search-toggle-1 {
        height: 17px;
        width: 17px;
    }
    #mobile-nav .search-toggle-1::before {
        top: -2px;
    }
    #mobile-nav .search-toggle-1::after {
        width: 10px;
        top: 13px;
        left: 11px;
    }
    .hero-area {
        padding-top: 130px;
    }
    .hero-area .hero-area-slider .intro-carousel .intro-content {
        padding: 0;
        height: 180px;
    }
    #header-nav {
        display: none;
    }
    .shopBanner {
        padding: 10px;
    }
    .shopbannerTitle h1,
    .shopbannerTitle h2,
    .shopbannerTitle h3 {
        font-size: 29px;
        line-height: 1;
    }
    .bg-image {
        height: 120px;
    }
    .filter-column {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        background-color: #f3f3f4;
        overflow-x: hidden;
        transition: 0.5s;
        padding: 0;
        padding-top: 60px;
        box-shadow: rgb(136, 136, 136) -1px 0px 10px 2px;
    }
    .sidebar_filter .closebtn {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 32px;
        margin-left: 50px;
        color: #ff7743;
    }
    .sidebar_filter {
        padding-left: 25px;
        padding-right: 25px;
    }
    .filterBar .sortingFilter {
        cursor: pointer;
    }
    .filterBar {
        display: block;
    }
    .filterBar .sortingFilter {
        margin: 5px 0;
    }
    .filterBar .sortingFilter,
    .filterBar .viewsTab {
        display: inline-block;
    }
    .btn-group {
        padding-left: 0;
        margin: 5px 0;
    }
    .btn-group .btn-text {
        padding: 0 10px;
        width: 120px;
        font-size: 11px;
    }
    .pagination{
        width: 101px;
        display: inline-block;
        font-size: 11px;
    }
    .productlist-row .product-col .productTab .productTab3 a {
        margin-right: 0px;
        padding: 6px;
        font-size: 10px;
    }
    .productlist-row .product-col .productTab .productTab2 h1 {
        font-size: 18px;
    }
    .productlist-row .product-col .productTab .productTab2 h2 {
        font-size: 13px;
    }
    .product-row .product-col .productTab::after {
        position: relative;
    }
    .product-row .product-col .productTab:hover {
        position: relative;
    }
    .productlist-row .product-col {
        display: block !important;
    }
    .productlist-row .product-col .productTabIMG {
        width: 100%;
        text-align: center;
    }
    .productlist-row .product-col .productTabIMG a img {
        width: auto;
        max-width: 100%;
        height: 135px;
    }
    .productlist-row .product-col .productTab .productTab3 {
        margin-top: 5px;
        text-align: center;
    }
    .productTab1 {
        line-height: 1.2;
        padding-bottom: 8px;
    }
    .featuredBrand-section {
        padding: 15px 0;
    }
    .featuredBrand-section .featuredBrand {
        padding-bottom: 0px !important;
    }
    .featuredBrand-section .featuredBrand h1 {
        font-size: 20px;
    }
    .product .product00 .nav li a {
        font-size: 14px;
    }
    .product .product00 .productNav .item .nav {
        line-height: normal;
    }
    .product {
        padding: 10px 0;
    }
    .product .product00 .row .col-md-4 .productTab::after {
        border-color: transparent;
    }
    .product .product00 .row .col-md-4 .productTab:hover {
        border: 1px solid #ccc;
        box-shadow: 0px 0px 6px 5px #eaeaea;
        cursor: pointer;
        position: relative;
        padding-bottom: 20px;
        margin-top: 2px;
    }
    .newsLetter {
        padding: 20px 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 h1 {
        font-size: 15px;
        padding-bottom: 0;
        margin: 0;
    }
    .newsLetter .newsLetter-col .newsLetter-00 p {
        font-size: 9px;
        line-height: 1.8;
        padding-bottom: 0px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group input {
        padding: 0;
        font-size: 10px;
        width: 190px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group span {
        padding: 0 8px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 .input-group span i.fa-envelope {
        font-size: 9px;
    }
    .newsLetter .newsLetter-col .newsLetter-01 a {
        margin-left: 4px;
        padding: 7px;
        font-size: 9px;
        line-height: 1.6;
    }
    .siteFooter {
        padding: 20px 0 10px;
    }
    .siteFooter .siteFooter-col .footernav h1 {
        border-bottom: none;
        position: relative;
        margin-bottom: 6px;
        font-size: 12px;
    }
    .siteFooter .row .siteFooter-col .footernav  {
        margin-bottom: 20px;
    }
    .siteFooter .siteFooter-col .footernav ul li a {
        font-size: 10px;
    }
    .siteFooter .siteFooter-col .footernav h1::before {
        content: '';
        width: 110px;
        height: 2px;
        background-color: #404241;
        left: 0;
        bottom: 0;
        position: absolute;
        border-radius: 50px;
    }
    .siteFooter .siteFooter-col .footernav a i.fab {
        font-size: 20px;
        padding: 0 5px;
    }
    .copyRight .copyRight-col .copyRight01 {
        display: none;
    }
    .copyRight .copyRight-col .copyRight02 {
        right: 15px;
    }
    .copyRight .copyRight-col .copyRight00 h4 {
        font-size: 8px;
    }
    .copyRight .copyRight-col .copyRight02 h4 {
        font-size: 8px;
    }
    .copyRight .copyRight-col .copyRight02 a img {
        width: 30px;
    }
    .product .product00 .nav::after,
    .product .product00 li a.active::after,
    .product .product00 li a.active::before {
        display: none;
    }
    .product .product00 .nav li a.active {
        font-weight: 500;
    }
    .owl-carousel.productNav::before {
        content: ''; 
        position: absolute;
        top: 0;
        left: 30%; 
        width: 40%;
        height: 2px;
        background-color: #ff7743;
        border-radius: 50px;
    }
    .owl-carousel.productNav::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 30%;
        right: 0;
        width: 40%;
        height: 2px;
        background-color: #ff7743;
        border-radius: 50px;
    }
    .retailer-title {
        padding-bottom: 0;
    }
    .login-signup .login-area.signup-area {
        margin-top: 20px;
    }
    .login-area .header-area {
        margin-bottom: 0;
        padding-top: 25px !important;
    }
    .login-area {
        padding: 20px 15px;
    }
    .login-area .form-input {
        margin-bottom: 15px;
    }
    .login-area .form-input input {
        height: 44px;
    }
    .login-area .header-area .title {
        letter-spacing: 0.04rem;
        font-size: 21px;
    }
    .hero-area {
        padding-top: 134px;
    }
    .mobile-nav-col span {
        font-size: 30px !important;
    }
    #mobile-nav .search-box {
        left: 0;
    }
    .__featuredBrand h1 {
        font-size: 28px;
        margin: 0;
    }
    .logo-header .helpful-links ul li.wishlist .wish span {
        top: -7px;
        right: 2px;
    }
    .nav.helpful-links-inner {
        justify-content: center;
    }
    .col-md-4.top-header-col.d-flex.align-items-center.justify-content-start {
        justify-content: center !important;
    }
    .top-header-col .top-nav-bar .nav .nav-item a::before {
        top: -2px;
    }
    .col-md-12.featuredProduct-col.d-flex.align-items-center.justify-content-center.pb-5 {
        padding-bottom: 1rem !important;
    }
    .productTab1 a {
        font-size: 15px;
    }
    .productTab {
        padding: 20px;
        border: 1px solid #dddddd5e;
        border-radius: 5px;
        cursor: pointer;
    }
    .productTab3 {
        margin-bottom: 10px;
        padding-bottom: 0px;
    }
    .productTab4 {
        display: flex;
        justify-content: space-between;
    }
    .productTab:hover {
        border: 1px solid #dddddd5e;
        border-radius: 5px;
        box-shadow: none;
        position: relative;
        padding: 20px;
    }
    .productTab3 h1 {
        margin: 0;
    }
    .productTab:hover .productTab3 {
        margin-bottom: 10px;
    }
    .productTab .productTab3 a {
        color: #ff7743;
    }
    .newestPhone-col .main-title {
        margin-bottom: 0;
    }
    .newestPhone-col .main-title h1::after {
        bottom: 0;
    }
    .popular-detail a h5 {
        font-size: 16px;
        font-weight: 500;
    }
    .col-md-12.aboutCommunication-col.pt-3 {
        padding-top: 0rem!important;
    }
    .col-md-5.d-flex.align-items-center.justify-content-center.newsLetter-col {
        justify-content: flex-start !important;
        align-items: start !important;
    }
    .bottomtotop i {
        bottom: 20px;
    }
    .phone-and-accessories .col-md-3.col-sm-4.newestPhone-col,
    .categori-item.electronics-section .col-md-3.col-sm-4.pt-3 {
        width: 50%;
        padding-left: 7px;
        padding-right: 7px;
    }
    .newestPhone-col .newestPhone-image {
        padding-bottom: 15px;
    }
    .newestPhone-col .description h5 {
        font-size: 16px;
        padding-top: 10px;        
    }
    .__product-top .product-title {
        padding: 11px 0;
        line-height: 1.1;
    }
    .__product-top .product-title a {
        font-size: 14px;
    }
    .__product-bottom .description h2 {
        font-size: 20px;
    }
    .__product-bottom .description h2 sup {
        font-size: 11px;
    }
    .__product-bottom .description .add-to-cart-btn {
        font-size: 20px;
    }
    .view-more-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .view-more-button a {
        font-size: 13px;
    }
}

